<div class="stream-cta">
    <h2>LIVE STREAMING</h2>
    <h1>Won’t be at the Practice Conference this year? </h1>
    <p class="details">Don’t forget we’ll be live streaming the entire event. Celebrate child protection...</p>
    <a class="_btn" href="">GET MORE INFO</a>
</div>