{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogData      = _Blog.getBlog() %}
{% set blogName      = blogData.title %}




{{this.registerJs("CardController();")}}

{% set limit = 10 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}


<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}



    <main id="main" class="container site-main" role="main">
        
        <div class="row index-top">

            <div class="col-sm-12 col-md-9 mobile-full-width">
                {% if currentSection %}                                                                
                    {{this.render('partials/_single-article.twig', {
                        article: sectionCard,
                        imageSize: {width: 576, height: 450},
                        isArticle: true,
                        containerClass: 'card-front-main card-front-main_mob'
                    }) | raw}}
                {% endif %}
            </div><!-- .col-sm-8-->


        </div><!-- .row-->





        <section class="row speakers">
            <div class="col-sm-12">
                <h1>Speakers in Demand</h1>
            </div>

            {% for i in 0..2 %}
                {% if articles[articleCount] %}                                                                
                    {{this.render('partials/_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        imageSize: {width: 330, height: 235},
                        containerClass: 'col-sm-4 card-sm card-sm-mob'
                    }) | raw}}
                    {% set articleCount = articleCount + 1 %}
                {% endif %}
            {% endfor %}
        </section>
    






    </main><!-- .site-main -->