{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}


<main id="main" class="site-main listingForm" role="main">
	<div class="container-fluid">

		<section class="row">
			<div class="col-sm-12 market-header">
				<img src="{{networkData.templatePath}}/static/images/ubt-logo.png" width="151" height="54">

				<div>
					<img src="{{networkData.templatePath}}/static/images/frank-logo.svg" width="216" height="60">
					<p>TRUSTED SOURCES. GLOBAL STORIES.</p>
				</div>
			</div>
		</section>
	</div>

	<section class="market-hero">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="content">
						<h1>Almost there…  <br />
							You’re just one step away from trusted sources.</h1>
					</div>
				</div>
			</div>
		</section>
	</section>






	<div class="container-fluid">

		<section class="row">
			<div class="col-md-offset-1 col-md-7" style="background:cyan">

			    <form class="" method="post" action="#" id="listingForm">
		    		<p class="form-section-label">Your information</p>

	                <input type="text" class="articleExtendedData" name="firstname" id="firstname" value="" placeholder="First name">
	                <input type="text" class="articleExtendedData" name="lastname" id="lastname" value="" placeholder="Last name">

	                <input type="text" class="" name="email" id="email" value="" placeholder="Email">
	                <input type="text" class="" name="emailconfirm" id="emailconfirm" value="" placeholder="Email confirm">
	                <input type="text" class="articleExtendedData" name="mobile" id="mobile" value="" placeholder="Mobile">
	                <input type="text" class="articleExtendedData" name="address" id="address" value="" placeholder="address">
	                <input type="text" class="articleExtendedData" name="suburb" id="suburb" value="" placeholder="Suburb">
	                <input type="text" class="articleExtendedData" name="state" id="state" value="" placeholder="State">
	                <input type="text" class="articleExtendedData" name="Postcode" id="Postcode" value="" placeholder="Postcode">
		            
		            <div id="countrySelect" class="countrySelect"></div>

		            <p class="form-section-label">Payment details</p>

	                <fieldset>
	                    <div class="inline">
	                        <input type="radio" name="extendedData.salary" id="paymentType1" class="articleExtendedData" value="1" checked="checked" />
	                        <label for="paymentType1">Credit card</label>
	                    </div>
	                    <div class="inline">
	                        <input type="radio" name="extendedData.salary" id="paymentType2" class="articleExtendedData" value="2" />
	                        <label for="paymentType2">Pay Pal</label>
	                    </div>
	                    <div class="inline">
	                        <input type="radio" name="extendedData.salary" id="paymentType3" class="articleExtendedData" value="3" />
	                        <label for="paymentType3">Bank deposit</label>
	                    </div>
	                </fieldset>
	                <input type="text" class="articleExtendedData" name="cardname" id="cardname" value="" placeholder="Name on card">
	                <input type="text" class="articleExtendedData" name="cardnumber" id="cardnumber" value="" placeholder="Credit card number">
	                <input type="text" class="articleExtendedData" name="expiry" id="expiry" value="" placeholder="Expiry date">
	                <input type="text" class="articleExtendedData" name="ccv" id="ccv" value="" placeholder="ccv">
	                

		            <button class="_btn" type="submit" id="listingFormSubmit">SUBSCRIBE</button>
	                <button class="_btn" type="reset"  id="listingFormClear">CLEAR</button>
			    </form>

			</div>			

			<div class="col-md-3">
				<h2>Order summary</h2>
			</div>

		</section>

	</div>

</main>
