{% set page = _Page.getPageData(slug) %}

{{ set(this, 'title', page.title | raw) }}

<!-- Begin Container -->
<div class="page_section" style="height:100%">
    <section class="container-fluid" style="max-width:none;height:100%">
        <!-- Begin Terms -->
        <div class="content-wrap clearfix" style="height:100%">
            <div class="row" style="height:100%">
                <div class="col-full" style="height:100%">
                    <div class="content_area is-wrapper clearfix">
                        {{page.content | raw}}                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>