{% set networkData = _Network.getNetworkData() %}

    <main id="main" class="site-main" role="main">
        <article class="article-main">
            <div class="container">
                <div class="content about">
                    {# <h1 class="aboutpage">Terms and conditions</h1> #}


                </div>
            </div><!-- .container -->
        </article><!-- .article-main -->
    </main><!-- .site-main -->
