.article {


	article.article-main {
		margin-bottom:	96px;
		margin-top:	50px;

		@media screen and (max-width: $sm-break-down){
			margin-top:	0;
		}



		> figure {
			width:100%;
			height:515px;
			margin-bottom:65px;
			position:relative;

			@media screen and (max-width: $sm-break-down){
				height:190px;
			}

			> a {
				position:absolute;
				top:50%;
				left:50%;
				background-image: url(../icons/play-icon.svg);
				background-repeat: no-repeat;
				background-size: cover;
				width: 70px;
				height: 70px;
				margin-top:-35px;
				margin-left:-35px;
			}

			img {
				width:100%;
				height:100%;
				object-fit: cover;
			}

			figcaption{
			    margin-top: 10px;

			    @media screen and (max-width: $sm-break){
			        float: left;
			        margin-bottom: 30px;
			    }
			    
			    > p {
			        font-size: rem(14);
			        color: color(lightgrey);
			        font-family: $font-family-serif;

					@media screen and (max-width: $sm-break) {
						font-size: rem(11);
						line-height: 1.45;

					}

			    }
			}



		}


		.page-content {
			margin-top:40px;
			clear: both;
			font-size: rem(17);
			font-weight: normal;
			font-family: $font-family-sans-serif;
					
			line-height: 1.88;
			letter-spacing:0.9px;

			// @media screen and (max-width: $sm-break) {
			// 	margin-top:35px;
			// }


			.content-wrapper {
				&:before {
					content: "";
					position: absolute;
					top: 0;
					bottom: 0;
					right: -38px;
					width: 1px;
					background: color(lightgrey);
				}
			}

			.article-sidebar {
				padding-left: 60px;
				@media screen and (max-width: $sm-break) {
				    padding-left: 0;
				}

				>h2 {
					margin-top: 65px;
					margin-bottom: 60px;
					font-size: rem(16);
					font-weight: 600;
					letter-spacing: 0.4px;
					color: color(darkblue);

					@media screen and (max-width: $sm-break) {
					    text-align: center;
					}


					&:after {
						content: '';
					    display: block;
					    height: 2px;
					    width: 23px;
					    margin-top: 15px;
					    background: color(darkblue);
					    @media screen and (max-width: $sm-break) {
					        margin-left: auto;
					    	margin-right: auto;
					    }

					}
				}
			}



			.content-block-top {
				margin-bottom: 17px;

				.category{
				    display:inline-block;
				    font-size: rem(10);
				    color:color(lightgrey);
				    text-transform:uppercase; 
				    padding-right:5px;
				    margin-right:5px;
				    line-height:1;
				    border-right: 1px solid color(lightgrey);
				    vertical-align:top;
				}

				time{
				    font-size: rem(10);
				    display:inline-block;
				    color:color(lightgrey);
				    text-transform:uppercase; 
				    line-height:1;
				    vertical-align:top;
				}



				h1 {

					font-size: rem(34);
					font-weight: 600;
					line-height: 1.18;
					letter-spacing: 0.5px;
					margin-top: 0;
					margin-bottom: 20px;
					color:	color(black);
					font-family: $font-family-serif;
					
					@media screen and (max-width: $sm-break) {
						font-size: rem(24);
						margin-bottom: 15px;

					}
				}
				
				img.author-photo {
					float:left;
					margin-right:10px;
				}

				p.author {
					font-family: $font-family-serif;
					font-size: rem(14);
					color: color(red);
					position: relative;
    				top: 10px;
					&:before {
					    content:'By ';
					}


				}

			}
		}

		
		.related-articles {
			padding: 0 60px;
			margin-top: 70px;
	
			h1 {
				font-size: rem(16);
				font-weight: 400;
				letter-spacing: 0.4px;
				text-align: center;
				color: color(darkblue);
				
				&:after {
					content: '';
				    display: block;
				    height: 2px;
				    width: 23px;
				    background: color(darkblue);
				    margin: 15px auto 35px auto;
				}

			}
		}




	}
}


	// .featured .video-overlay .icons .icon {
	// 	width: 60px;
	// 	height: 60px;
	// 	position: absolute;
	// 	line-height: 60px;
	// 	top: 50%;
	// 	left: 50%;
	// 	-webkit-transform: translate(-50%, -50%);
	// 	/* Chrome, Safari, Opera */
	// 	-moz-transform: translate(-50%, -50%);
	// 	/* Mozilla Firefox */
	// 	-o-transform: translate(-50%, -50%);
	// 	-ms-transform: translate(-50%, -50%);
	// 	/* IE 9 */
	// 	transform: translate(-50%, -50%);
	// 	background-color: rgba(0, 0, 0, 0.5);
	// 	-webkit-border-radius: 50%;
	// 	border-radius: 50%;
	// 	border: 1px solid rgba(255, 255, 255, 0.5);
	// 	transition: all 0.3s ease-in;
	// 	-moz-transition: all 0.3s ease-in;
	// 	-o-transition: all 0.3s ease-in;
	// 	-webkit-transition: all 0.3s ease-in;
	// 	-ms-transition: all 0.3s ease-in;
	// }

	// .featured .video-overlay .icons .icon:hover {
	// 	border: 1px solid white;
	// 	transition: all 0.3s ease-in;
	// 	-moz-transition: all 0.3s ease-in;
	// 	-o-transition: all 0.3s ease-in;
	// 	-webkit-transition: all 0.3s ease-in;
	// 	-ms-transition: all 0.3s ease-in;
	// }

	// .featured .video-overlay .icons .icon i {
	// 	font-size: 28px;
	// 	color: #ffffff;
	// 	width: 100%;
	// 	text-align: center;
	// 	margin-left: 4px;
	// 	line-height: 60px;
	// 	height: 100%;
	// }
	
// }
