.card-rec{
    @media screen and (min-width: $sm-break){
        
        position:relative;
        margin-bottom: 32px;

        a.card {
            @include card-image-left(198px, 141px);
            border-bottom: 1px solid #97999c;
            height:173px;

            > article {
                position:relative;

                > figure{
                    margin-right:18px;
                }


                > .content{
                    position:relative;
                    padding: 0;


                    > .category{
                        margin-bottom:0;
                        border-right:1px solid color(lightgrey);
                    }

                    > h2{
                        font-size: rem(25);
                        line-height:1.2;
                        font-family: $font-family-serif;
                        margin-top:10px;
                        margin-bottom:10px;
                        color:color(black);
                    }

                    > p.excerpt {
                        display:none;
                    }
                    .author {
                        display: block;

                        >p {
                            font-size:rem(14);
                            color:color(red);
                            font-family: $font-family-serif;
                            &:before {
                                content:'By ';
                            }
                        }
                        >img {
                            display:none;
                        }
                    }
                }
            }


            &.article.without__image {
                .content {
                    padding-top:87px;
                    height:100%;

                    h2 {
                        font-size: rem(17);
                        font-weight:bold;
                        max-height:52px;
                    }

                    > p {
                        font-size: rem(13);
                        display: block;
                        max-height:100px;
                        margin-bottom: 18px;
                    }
                }
            }   
        }
    }
}
