@mixin card-main-realestate() {
    position:relative;

    a.card {
        border-bottom: 1px solid #97999c;

        > article {
            position:relative;
            > figure{
            }
            > .content{
                position:relative;
                padding:0;
                overflow:hidden;
                h1 {
                    font-size: rem(25);
                    font-family:$font-family-serif;
                    color:color(darkblue);
                    font-weight:600;
                    margin-top:4px;
                    clear:both;
                    margin-bottom:0;
                }
                h2{
                    font-size: rem(14);
                    font-family:$base-font-family;
                    color:color(red);

                }
                p.excerpt {
                    overflow:hidden;
                    // background:rgba(150,0,0,.4);
                    color:color(black);
                }
                p.region{
                    text-transform: uppercase;
                }

                .region__below {
                    display:none;
                }

                .listing-type {
                    position:absolute;
                    bottom:33px;
                    left:0;
                    height: 16px;
                    width: 100%;
                    clear:both;

                    .listing-type__img {
                        float:left;
                        position: relative;
                        top: -5px;
                    }
                   
                    .listing-type__attribute {
                        margin:0;
                        margin-right:10px;
                        font-size:rem(12);
                        font-style:italic;
                        color:color(darkblue);
                        line-height:1;
                        position: relative;
                        top: 4px;
                        float:left;
                        
                        &--contract {
                            border-left:1px solid color(darkblue);
                            padding-left:10px;
                        }

                    }
                }
            }
        }
    }
}



.card-main-realestate{
    @media screen and (min-width: $mmd-break){
        @include card-main-realestate();

        margin-bottom: 32px;

        a.card {
            @include card-image-top(auto, 310px);

            > article {

                > figure{
                    margin-bottom:15px;
                }

                > .content{
                    padding-bottom:20px;

                    >div {
                        >time {
                            margin-bottom:8px;
                        }
                    }

                    h1{
                        font-size:rem(25);
                        margin-bottom:4px;
                    }
                    h2{
                        margin:0;
                        width:216px;
                        font-weight:400;
                        color: color(red);
                        font-size:rem(14);
                        line-height:1.3;
                        max-height:90px;
                        text-transform:uppercase;
                    }

                    .property__left {
                        float:left;
                        min-height:60px;
                    }


                    .property__right {
                        float:right;
                        padding-top:15px;
                        width:60%;

                    }
                    p.region {
                        font-size: rem(10);
                        color:color(lightgrey);
                        margin-bottom:4px;
                    }

                    p.excerpt {
                        line-height: 1.54;
                        font-size: rem(13);
                        min-height:60px;
                        max-height:100px;

                    }
                }


            }

        }
    }
}





.card-main-realestate-tablet{
    @media #{$media-iPad} {
        @include card-main-realestate();

        margin-bottom: 32px;

        a.card {
            @include card-image-top(auto, 310px);

            > article {

                > figure{
                    margin-bottom:15px;
                }

                > .content{
                    padding-bottom:20px;

                    >div {
                        >time {
                            margin-bottom:8px;
                        }
                    }

                    h1{
                        font-size:rem(25);
                        margin-bottom:4px;
                    }
                    h2{
                        margin:0;
                        width:216px;
                        font-weight:400;
                        color: color(red);
                        font-size:rem(14);
                        line-height:1.3;
                        max-height:90px;
                        text-transform:uppercase;
                    }

                    .property__left {
                        float:left;
                        min-height:60px;
                    }


                    .property__right {
                        float:right;
                        padding-top:15px;
                        width:60%;

                    }
                    p.region {
                        font-size: rem(10);
                        color:color(lightgrey);
                        margin-bottom:4px;
                    }

                    p.excerpt {
                        line-height: 1.54;
                        font-size: rem(13);
                        max-height:100px;

                    }
                }
            }
        }
    }
}










.card-main-realestate-mobile{
    @media #{$media-mobile} {
        @include card-main-realestate();

        margin-bottom: 32px;

        a.card {

            > article {

                > figure{
                    display:none;
                }

                > .content{
                    padding-bottom:20px;

                    >div {
                        >time {
                            margin-bottom:8px;
                        }
                    }

                    h1{
                        font-size:rem(25);
                        margin-bottom:4px;
                    }
                    h2{
                        margin:0;
                        width:216px;
                        font-weight:400;
                        color: color(red);
                        font-size:rem(14);
                        line-height:1.3;
                        max-height:90px;
                        text-transform:uppercase;
                    }

                    .property__left {
                        float:left;
                        min-height:60px;
                    }


                    .property__right {
                        float:right;
                        padding-top:15px;
                        width:60%;

                    }
                    p.region {
                        font-size: rem(10);
                        color:color(lightgrey);
                        margin-bottom:4px;
                    }

                    p.excerpt {
                        line-height: 1.54;
                        font-size: rem(13);
                        max-height:100px;

                    }
                }
            }
        }
    }
}

