.card-ubt{
    @media screen and (min-width: $mmd-break){
        
        position:relative;

        a.card {
            @include card-image-top(auto, 278px);

            > article {
                position:relative;

                > figure{
                    margin-bottom:21px;
                    
                }

                > .content{
                    position:relative;
                    z-index:10;

                  
                    >div {
                        margin-bottom: 10px;
                        > .category{
                            border-right: 1px solid #97999c;
                        }
                        // time {
                        //     display:none;
                        // }

                    }
                    > h2{
                        font-family:$font-family-serif;
                        font-size: rem(25);
                        font-weight:600;
                        line-height: 1.2;
                        margin-bottom:15px;
                        padding-right: 80px;
                        max-height:60px;
                        position:relative;

                    }

                    > p.excerpt {
                        max-height:40px;
                    }

                }
                &.video {
                    > .content {
                        &:before{
                            @include videoIcon();
                            display:block;
                            top: auto;
                            left:10px;
                            margin-left: 0;
                            margin-top: 0;
                        }

                        h2, time {
                            margin-left:60px;
                        }

                    }
                }
            }


        }
    }
}