.card-main-2col{
    @media screen and (min-width: $mmd-break){
        
        position:relative;
        margin-bottom: 32px;

        a.card {
            @include card-image-top(auto, 310px);
            border-bottom: 1px solid #97999c;

            > article {
                position:relative;

                > figure{
                    overflow: hidden;
                    margin-bottom:22px;

                }

                
                > .content{
                    position:relative;
                    padding: 0;
                    padding-bottom:20px;
                    overflow:hidden;


                    >div {
                        > .category{
                            border-right:1px solid color(lightgrey);
                        }
                    }
    
                    > h2{
                        clear:both;
                        float:left;
                        width:48%;
                        font-family:$font-family-serif;
                        font-size:rem(25);
                        font-weight:600;
                        margin-top:4px;
                        margin-bottom:0;
                        color:color(black);
                    }

                    > p.excerpt {
                        float:right;
                        width:48%;
                        height:140px;
                        max-height:140px;
                        color:color(black);
                        line-height: 1.54;
                    }

                    > .author{
                        display:none;
                    }
                }


                &.video {

                    > figure{
                        overflow: hidden;
                        height:360px;
                        @include gradientafter();
                    }



                    > .content { 
                        height: 135px;

                        h2 {
                            float:none;
                            width:100%;
                        }

                        p.excerpt {
                            display:none;
                        }

                    }
                }
            }


            &.article.without__image {
                .content {
                    background: #d8d8d8;

                    padding: 70px 35px 0 35px;
                    margin-bottom:30px;
                    height:491px;

                    h2 {
                        font-size: rem(25);
                        line-height:1.2;
                        font-weight:bold;
                    }

                    > p.excerpt {
                        font-size: rem(15);
                        display: block;
                        min-height:286px;
                        line-height: 1.73;
                    }
                }
            }   
        }
    }
}





.card-main-2col-tablet{
    @media screen and (min-width: $sm-break) and (max-width: $mmd-break-down) {
        
        position:relative;
        margin-bottom: 10px;

        a.card {
            @include card-image-top(auto, 162px);
            border-bottom: 1px solid #97999c;

            > article {
                position:relative;

                > figure{
                    margin-bottom:5px;
                }

                
                > .content{
                    position:relative;
                    padding: 0;
                    padding-bottom:5px;
                    overflow:hidden;


                    > div > .category{
                        border-right:1px solid color(lightgrey);
                    }
    
                    > h2{
                        clear:both;
                        float:left;
                        width:48%;
                        font-family:$font-family-serif;
                        font-size:rem(15);
                        font-weight:600;
                        margin-top:4px;
                        margin-bottom:0;
                        color:color(black);
                        line-height: 1.2;

                    }

                    > p.excerpt {
                        font-size:rem(11);
                        float:right;
                        width:48%;
                        height:105px;
                        margin-top:4px;
                        max-height:105px;
                        color:color(black);
                        line-height: 1.36;
                    }

                    > .author{
                        display:none;
                    }
                }


                &.video {

                    > figure{
                        overflow: hidden;
                        height:360px;
                        @include gradientafter();
                    }



                    > .content { 
                        height: 135px;

                        h2 {
                            float:none;
                            width:100%;
                        }

                        p.excerpt {
                            display:none;
                        }

                    }
                }
            }


            &.article.without__image {
                .content {
                    background: #d8d8d8;

                    padding: 70px 35px 0 35px;
                    margin-bottom:30px;
                    height:491px;

                    h2 {
                        font-size: rem(25);
                        line-height:1.2;
                        font-weight:bold;
                    }

                    > p.excerpt {
                        font-size: rem(15);
                        display: block;
                        min-height:286px;
                        line-height: 1.73;
                    }
                }
            }   
        }
    }
}










.card-main-2col-mobile{
    @media screen and (max-width: $sm-break-down){
        
        position:relative;
        margin-bottom: 20px;

        a.card {
            @include card-image-top(auto, 190px);
            border-bottom: 1px solid #97999c;

            > article {
                position:relative;

                > figure{
                    overflow: hidden;
                    margin-bottom:15px;
                }


                > .content{
                    position:relative;
                    padding: 0;


                    > div > .category{
                        border-right:1px solid color(lightgrey);
                    }

                    > h2{
                        font-family:$font-family-serif;
                        font-size:rem(24);
                        font-weight:600;
                        margin-top:4px;
                        margin-bottom:0;
                        line-height:1.25;
                        color:color(black);
                        max-height:90px;
                    }

                    > p.excerpt {
                        color:color(black);
                        line-height: 1.54;
                        margin-top:8px;
                        max-height:80px;
                        margin-bottom: 30px;
                    }

                    > .author{
                        display:none;
                    }
                }
            }


            &.article.without__image {
                .content {
                    padding: 90px 60px 100px 60px;

                    h2 {
                        font-size: rem(34);
                        font-weight:bold;
                        max-height:80px;
                    }

                    > p.excerpt {
                        font-size: rem(15);
                        display: block;
                        line-height: 1.73;
                        height:185px;
                    }
                }
            }   
        }
    }
}
