.card-rec{
    margin-bottom: 20px;
    position:relative;


    a.card {
        max-width:650px;
        border-bottom:1px solid color(lightblue);

        > article {
           
            margin-bottom:20px;

            @extend %flexbox;
            max-height: 171px;
            height:171px;
            flex-wrap: nowrap;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;



            > figure{
                width: 261px;
                -ms-flex: 0 0 261px;
                -webkit-flex: 0 0 261px;
                flex: 0 0 261px;
                overflow: hidden;
                float: left;
                height:100%;
                min-height:100%;

                // &.video {
                    &:before{
                        width:72px;
                        height:72px;
                        margin-left:-36px;
                        margin-top:-36px;

                    }

                // }


            }

            > .content{
                padding:0 0 0 30px;
                background:white;


                > h2{
                    order:1;
                    font-size: rem(22);
                    max-height: 64px;
                    margin-bottom:4px;
                    line-height:1.3em;
                }
                
                > p {
                    order:3;
                    max-height: 66px;
                    font-size:rem(14);
                    line-height: 1.57;
                }

                > .author{
                    display:none;
                }

            }
        }
    }
}