@mixin card-event-base() {
    position:relative;
    a.card {
        border-bottom: 1px solid #97999c;

        > article {
            > time {
                float:left;
                margin-right:10px;
                >span {
                    display:block;
                }
                // display: none;
            }

            position:relative;
            > figure{
                float:left;
            }
            > .content{
                padding: 0;
                position:relative;
                > .category{
                    display:none;
                    // margin-bottom:0;
                    // text-transform: uppercase;
                    // color: color(lightgrey);
                    // font-size: rem(10);
                    // margin-bottom: 12px;
                }
                > h2{
                    font-family: $font-family-serif;
                    color:black;
                    height: 15px;
                    margin-bottom: 0;                  
                }
                > h3{
                    margin:0;
                    color:color(red);
                }

                > time {
                    display:none;
                    // color: color(darkblue);                    
                }

                > div.listing-type {
                    >img {
                        float:left;
                    }
                }
            }
        }  
    }
}



.card-event{
    @media screen and (min-width: $mmd-break){
        @include card-event-base();

        margin-bottom: 32px;

        a.card {
            @include card-image-left(60px, 37px);
            // height:173px;

            > article {

                > time {
                    margin-top:5px;
                    span.day {

                        font-size: rem(13);
                    }
                    span.month {
                        font-size: rem(8);
                        color: color(lightgrey);
                    }
                }
                > figure{
                    margin-right:18px;
                    margin-bottom:10px;
                }

                > .content{

                    > h2{
                        font-size: rem(12);
                        line-height:1.2;
                        // margin-top:12px;
                    }

                    > p.excerpt {
                        font-size: rem(12);
                        height: 30px;
                        margin-top: 0;
                    }

                }
            }
        }
    }
}




.card-event-tablet{
    @media screen and (min-width: $sm-break) and (max-width: $mmd-break-down) {
        @include card-event-base();

        margin-bottom: 32px;

        a.card {
            // height:173px;

            > article {

                > time {
                    margin-top:5px;
                    span.day {

                        font-size: rem(13);
                    }
                    span.month {
                        font-size: rem(8);
                        color: color(lightgrey);
                    }
                }

                > figure{
                    display: none;
                }

                > .content{
                    display:block;
                    > h2{
                        font-size: rem(12);
                        line-height:1.2;
                        margin-top:12px;
                    }

                    > p.excerpt {
                        height: 30px;
                        margin-top: 10px;
                    }

                }
            }
        }
    }
}









.card-event-mobile{
    @media screen and (max-width: $sm-break-down){
        @include card-event-base();

        margin-bottom: 20px;

        a.card {
            @include card-image-left(80px, 82px);
            height:102px;

            > article {

                > figure{
                    margin-right:18px;
                }

                > .content{
                    > h2{
                        font-size: rem(16);
                        line-height:1.38;
                        margin-top:0;
                    }
                }
            }
        }
    }
}

