@mixin card-form-property-listing-base() {
    position:relative;
    a.card {
        border-bottom: 1px solid #97999c;

        > article {
            position:relative;
            > figure{
            }
            > .content{
                padding: 0;
                position:relative;
                p {
                    margin:0;
                    padding:0;
                }

                .title {
                    font-family: $base-font-family;
                    color:color(red);
                }
                .edit {
                    float:right;
                    height:14px;
                    width:14px;
                    background: url('../icons/pencil.svg');
                    background-repeat: no-repeat;
                    background-size:contain;
                }

                // > p.excerpt {
                //     clear:both;
                //     height:40px;
                // }
            }
        }
        &.draft {
            opacity: 0.5;
            // background:pink;
        }  
    }
}



.card-form-property-listing{
    @media screen and (min-width: $mmd-break){
        @include card-form-property-listing-base();

        margin-bottom: 32px;

        a.card {
            @include card-image-left(75px, 63px);
            height:141px;

            > article {

                > figure{
                    margin-right:18px;
                }

                > .content{

                    .title {
                        font-weight:400;
                        font-size: rem(14);
                        margin-top:10px;
                        margin-bottom:5px;
                        height:40px;
                    }


                    .propertyType {
                        font-size: rem(13);
                        font-weight:600;
                    }
                    .contracttype {
                        font-size: rem(13);
                        float:left;
                    }
                    .price {
                        font-size: rem(13);
                        float:right;
                    }

                }
            }
        }
    }
}




.card-form-property-listing-tablet{
    @media screen and (min-width: $sm-break) and (max-width: $mmd-break-down) {
        @include card-form-property-listing-base();

        margin-bottom: 20px;

        a.card {
            @include card-image-left(109px, 78px);
            height:95px;

            > article {

                > figure {
                    margin-right:18px;
                }

                > .content{
                    > h2{
                        font-size: rem(16);
                        line-height:1.12;
                        margin-top:5px;
                        margin-bottom:10px;
                    }
                    .propertyType {
                        height: 20px;
                    }
                    .price {
                        display:none;
                    }
                }
            }
        }
    }
}









.card-form-property-listing-mobile{
    @media screen and (max-width: $sm-break-down){
        @include card-form-property-listing-base();

        margin-bottom: 20px;

        a.card {
            @include card-image-left(80px, 82px);
            height:102px;

            > article {

                > figure{
                    margin-right:18px;
                }

                > .content{
                    > h2{
                        font-size: rem(16);
                        line-height:1.38;
                        margin-top:0;
                    }
                    .propertyType {
                        height: 20px;
                    }
                    .price {
                        display:none;
                    }

                }
            }
        }
    }
}

