@mixin card-rec-sport-base() {
    position:relative;
    a.card {
        pointer-events: none;

        > article {
            position:relative;

            > figure{
                // display: none;
            }

            > .content{
                padding: 0;
                position:relative;

                > div {
                    > .category{
                        margin-bottom:0;
                        border-right:1px solid color(lightgrey);
                    }
                }

                > h2{
                    font-family: $font-family-serif;
                    font-size: rem(25);
                    line-height:1.2;
                    margin-top:12px;
                    margin-bottom:2px;
                    height: 70px;
                }
            }
        }  
    }
}



.card-rec-sport{
    @media screen and (min-width: $mmd-break){
        @include card-rec-sport-base();

        margin-bottom: 66px;

        a.card {
            @include card-image-left(217px, 152px);
            height:152px;

            > article {
                padding-bottom:20px;
                > figure {
                    margin-right:24px;
                }
                > .content{
                    > .cat-time {
                        line-height: 0;
                        position: relative;
                        top: 0px;
                    }

                    > h2{
                        height: 32px;
                        margin-top: 14px;
                        margin-bottom: 16px;
                    }
                }
            }

            &:after {
                content: '';
                display: block;
                border-bottom: 1px solid #97999c;
                padding-top: 30px;                
            }
        }
    }
}




.card-rec-sport-tablet{
    @media screen and (min-width: $sm-break) and (max-width: $mmd-break-down) {
        @include card-rec-sport-base();

        margin-bottom: 43px;

        a.card {
            @include card-image-left(150px, 170px);
            height:200px;
            > article {
                >figure {
                    margin-right:24px;
                }
                > .content {

                }
            }
            // height:130px;
        }
    }
}









.card-rec-sport-mobile{
    @media screen and (max-width: $sm-break-down){
        @include card-rec-sport-base();

        margin-bottom: 43px;

        a.card {
            // height:130px;
        }
    }
}
