@mixin card-sm-full-base() {
    position:relative;

    a.card {
        @include card-image-full();
        border-bottom: 1px solid color(lightgrey);
        padding-bottom:30px;
        > article {
            position:relative;

            > figure{
                margin-bottom:10px;
                @include gradientbefore();
            }
            > .content{
                position:relative;
                z-index:10;
                color:#fff;

                >div {
                    > .category{
                    }
                    >time{
                        margin-left: 0;
                        padding-left: 0;
                    }
                }
                > h2{
                }
                > p.excerpt {
                    display:none;
                }
            }
            &.video {
                > figure {
                    &:before{
                        top:0;
                        left:0;
                        margin:0;

                    }
                }

                > .content {

                    &:before{
                        @include videoIcon();
                        width:47px;
                        height:47px;
                        bottom:15px;
                        display:block;
                        top: auto;
                        left:10px;
                        margin-left: 0;
                        margin-top: 0;
                    }
                    h2, time {
                        margin-left:60px;
                    }


                }
            }
        }
        &.article.without__image {
            >article {
                .content {
                    padding:0;

                    > h2{
                        color:color(black);
                        order: 1;
                        font-size: rem(18);
                        font-weight:600;
                        line-height: 1.33;
                        margin-bottom:15px;
                    }
                    time {
                        order:3;
                    }
                    > p.excerpt {
                        order:2;
                        display:block;
                        height:100px;
                        font-size: rem(13);
                        line-height: 1.54;
                        color:color(black);

                    }
                }
            }
        }   
    }
}



.card-sm-full{
    // we should not be using this for both desktop and mobile bad bad
    @media screen and (max-width: $sm-break-down), (min-width: $mmd-break) {
        @include card-sm-full-base();

        margin-bottom: 24px;
        padding-bottom: 30px;
        // because now we have to do this
        @media screen and (min-width: $mmd-break) {
            padding-bottom: 0;
        }

        a.card {
            height:210px;

            > article {

                > .content{
                    padding: 110px 10px 20px 20px;
                  
                    >div {
                        > .category{
                            display:none;
                        }
                        time {
                            order:2;
                            display:block;
                            font-size: rem(9);
                            margin-top:7px;
                            color: white;
                        }
                    }

                    > h2{
                        order: 1;
                        font-size: rem(15);
                        font-weight:400;
                        line-height: 1.33;
                        height:42px;
                    }
                    > .cat-time {
                        &.cat-time--withLabel {
                            .category{
                                display: block;
                                color: white;
                            }
    
                            time {
                                margin-left: 10px;
                                margin-top: 1px;
                            }
                        }
    
                    }
                }
            }
        }
    }
}





.card-sm-full-tablet {
    @media screen and (min-width: $sm-break) and (max-width: $mmd-break-down) {
        @include card-sm-full-base();

        margin-bottom: 15px;
        padding-bottom: 15px;

        a.card {
            height: auto;
            padding-bottom: 0px;
            > article {
                min-height:155px;
                > .content{
                    padding: 55px 7px 0 7px;
                  
                    > div.cat-time {
                        display:none;
                    }

                    > h2{
                        order: 1;
                        font-size: rem(12);
                        font-weight:400;
                        line-height: 1.12;
                        height:30px;
                    }
                }
            }
        }
    }
}






