.card-lg-full{
    @media screen and (min-width: $sm-break){
        
        position:relative;
        margin-bottom: 32px;
        height:422px;

        a.card {
            height:100%;
            @include card-image-full();
            @include gradientbefore();

            > article {
                position:relative;
                padding-right:360px;

                > figure {
                    &.video {
                        &:before{
                            display:none;
                        }
                    }
                }


                > .content{
                    position:relative;
                    text-align:center;
                    padding: 90px 0 20px 0;
                    z-index:10;
                    color:#fff;

                    > .category{
                        display:block;
                        color:white;
                        font-size:rem(16);
                        font-weight:400;

                    }

                    > h2{
                        font-size: rem(25);
                        font-weight:600;
                        margin-top:20px;
                        width:65%;
                        margin-left:auto;
                        margin-right:auto;
                        margin-bottom: 25px;
                        line-height: 1.2;
                        text-align:center;
                    }

                    > p.excerpt {
                        font-size: rem(13);
                        line-height: 1.54;
                        height:40px;
                        width: 50%;
                        margin: auto;
                    }

               
                }

                &.video {
                    .content {
                        &:before {
                            @include videoIcon();
                            top:auto;
                            bottom:-70px;
                        }
                    }
                }
            }


            &.article.without__image {
                background: color(darkblue);
            }   
        }
    }
}


.card-lg-full{
    @media screen and (max-width: $sm-break-down){
        
        position:relative;
        margin-bottom: 20px;
        height:355px;

        a.card {
            height:100%;
            @include card-image-full();
            @include gradientbefore();

            > article {
                position:relative;

                > figure {
                    &.video {
                        &:before{
                            display:none;
                        }
                    }
                }


                > .content{
                    position:relative;
                    text-align:center;
                    padding: 66px 0 20px 0;
                    z-index:10;
                    color:#fff;

                    > .category{
                        display:block;
                        color:white;
                        font-size:rem(16);
                        font-weight:400;

                    }

                    > h2{
                        font-size: rem(25);
                        font-weight:600;
                        margin-top:20px;
                        width:65%;
                        margin-left:auto;
                        margin-right:auto;
                        margin-bottom: 25px;
                        line-height: 1.2;
                        text-align:center;
                    }

                    > p.excerpt {
                        font-size: rem(13);
                        line-height: 1.54;
                        height:40px;
                        width: 50%;
                        margin: auto;
                    }

               
                }

                &.video {
                    .content {
                        &:before {
                            @include videoIcon();
                            top:auto;
                            bottom:-70px;
                        }
                    }
                }
            }


            &.article.without__image {
                background: color(darkblue);
            }   
        }
    }
}
