@mixin card-main-2col-base() {
    position:relative;

    a.card {
        border-bottom: 1px solid #97999c;

        > article {
            position:relative;
            > figure{
            }
            > .content{
                position:relative;
                padding:0;
                overflow:hidden;
                
                >div {
                    >time{
                        border-left:1px solid color(lightgrey);
                    }
                }
                > h2{
                    font-family:$font-family-serif;
                    color:color(black);
                    font-weight:600;
                    margin-top:4px;
                    clear:both;
                    margin-bottom:0;
                }
                > p.excerpt {
                    color:color(black);
                }
            }
        }
    }
}



.card-main-2col{
    @media screen and (min-width: $mmd-break){
        @include card-main-2col-base();

        margin-bottom: 32px;

        a.card {
            @include card-image-top(auto, 310px);

            > article {

                > figure{
                    margin-bottom:22px;
                }

                > .content{
                    padding-bottom:20px;

                    > h2{
                        float:left;
                        width:48%;
                        font-size:rem(25);
                        line-height: 1.2;
                    }

                    > p.excerpt {
                        float:right;
                        width:48%;
                        height:140px;
                        max-height:140px;
                        line-height: 1.54;
                    }
                }


                /* &.video {
                    > figure{
                        height:360px;
                        @include gradientafter();
                    }

                    > .content { 
                        height: 135px;

                        h2 {
                            float:none;
                            width:100%;
                        }

                        p.excerpt {
                            display:none;
                        }

                    }
                } */
            }


            &.article.without__image {
                .content {
                    background: #d8d8d8;

                    padding: 70px 35px 0 35px;
                    margin-bottom:30px;
                    height:491px;

                    h2 {
                        font-size: rem(25);
                        line-height:1.2;
                        font-weight:bold;
                    }

                    > p.excerpt {
                        font-size: rem(15);
                        display: block;
                        min-height:286px;
                        line-height: 1.73;
                    }
                }
            }   
        }
    }
}





.card-main-2col-tablet{
    @media screen and (min-width: $sm-break) and (max-width: $mmd-break-down) {
        @include card-main-2col-base();
        margin-bottom: 10px;

        a.card {
            @include card-image-top(auto, 210px);

            > article {

                > figure{
                    margin-bottom:15px;
                    height: 210px;
                }

                
                > .content{
                    padding-bottom:5px;


    
                    > h2{
                        float:left;
                        width:100%;
                        font-size:rem(15);
                        line-height: 1.2;
                    }

                    > p.excerpt {
                        display: block;
                        font-size:rem(11);
                        float:right;
                        height:85px;
                        margin-top:4px;
                        max-height:105px;
                        line-height: 1.36;
                    }
                }


                &.video {

                    > figure{
                        overflow: hidden;
                        height:210px;
                        @include gradientafter();
                    }



                    > .content { 
                        height: 135px;

                        h2 {
                            float:none;
                            width:100%;
                        }

                        p.excerpt {
                            //display:none;
                        }

                    }
                }
            }


            &.article.without__image {
                .content {
                    background: #d8d8d8;

                    padding: 70px 35px 0 35px;
                    margin-bottom:30px;
                    height:491px;

                    h2 {
                        font-size: rem(25);
                        line-height:1.2;
                        font-weight:bold;
                    }

                    > p.excerpt {
                        font-size: rem(15);
                        display: block;
                        min-height:286px;
                        line-height: 1.73;
                    }
                }
            }   
        }
    }
}



.card-main-2col-mobile{
    @media screen and (max-width: $sm-break-down){
        @include card-main-2col-base();
        margin-bottom: 20px;

        a.card {
            @include card-image-top(auto, 190px);

            > article {
                > figure{
                    margin-bottom:15px;
                }
                > .content{
                    > h2{
                        font-size:rem(24);
                        line-height:1.25;
                        max-height:90px;
                    }

                    > p.excerpt {
                        line-height: 1.54;
                        margin-top:8px;
                        max-height:80px;
                        margin-bottom: 30px;
                    }
                }
            }


            &.article.without__image {
                .content {
                    padding: 90px 60px 100px 60px;

                    h2 {
                        font-size: rem(34);
                        font-weight:bold;
                        max-height:80px;
                    }

                    > p.excerpt {
                        font-size: rem(15);
                        display: block;
                        line-height: 1.73;
                        height:185px;
                    }
                }
            }   
        }
        &.card-main-2col-NA{
            border: solid 0.8px #979797;
            a.card {
                border: none;
                >article {
                    >figure{
                        margin-bottom: 0;
                    }
                    >.content  {
                        padding: 20px;
                        p.excerpt{
                            margin-bottom: 0;
                        } 
                    }
                }
            }
        }
    }
}

