@mixin card-md-base() {
    position:relative;

    a.card {

        height:100%;
        @include card-image-full();
        @include tintbefore();


        > article {
            position:relative;

            > figure{
            }
            > .content{
                position:relative;
                text-align:center;
                z-index:10;
                color:#fff;

                >div {
                    > .category{
                        display:block;
                        color:white;
                        font-weight:400;

                        &:after {
                            content:'';
                            display:block;
                            width:20px;
                            height:1px;
                            background:white;
                            margin: auto;
                            margin-top: 10px;
                        }
                    }
                    time {
                        display:none;
                    }
                }

                > h2{
                    font-weight:400;
                    margin-top:2px;
                    margin-bottom:13px;
                    text-transform:uppercase;
                }

                > p.excerpt {
                    display:none;
                }
            }
        }
        &.article.without__image {
            background:color(darkblue);
        }   

    }
}



.card-md-full{
    @media screen and (min-width: $mmd-break){
        @include card-md-base();

        margin-bottom: 32px;
        height:422px;

        a.card {

            > article {

                > figure{
                    margin-bottom:10px;
                }

                > .content{
                    padding: 35px 25px 20px 25px;

                    > div {
                        > .category{
                            font-size:rem(16);
                            margin-bottom:260px;
                            
                            &:after {
                                content:'';
                                display:block;
                                width:20px;
                                height:1px;
                                background:white;
                                margin: auto;
                                margin-top: 10px;
                            }
                        }
                    }
                    > h2{
                        font-size: rem(18);
                        line-height: 1.44;
                    }
                }
            }
        }
    }
}





.card-md-full-tablet{
    @media screen and (min-width: $sm-break) and (max-width: $mmd-break-down) {
        @include card-md-base();
        margin-bottom: 20px;
        height:222px;

        a.card {

            > article {

                > figure{
                    margin-bottom:10px;

                }

                > .content{
                    padding: 12px 25px 20px 25px;

                    > div {
                        > .category{
                            padding:0;
                            font-size:rem(10);
                            margin-bottom:110px;
                        }
                    }

                    > h2{
                        font-size: rem(12);
                        line-height: 1.25;
                    }
                }
            }
        }
    }
}








.card-md-full-mobile{
    @media screen and (max-width: $sm-break-down){
        @include card-md-base();
        margin-bottom: 20px;
        height:190px;

        a.card {

            > article {

                > figure{
                    margin-bottom:10px;
                }

                > .content{
                    padding: 16px 10px 10px 10px;

                    > div {
                        > .category{
                            font-size:rem(15);
                            margin-bottom:70px;
                        }
                    }

                    > h2{
                        font-size: rem(16);
                        line-height: 1.44;
                    }
                }
            }
        }
    }
}
