.card-ubt{
    @media screen and (min-width: $mmd-break){
        
        position:relative;



        a.card {
            // height:180px;
            @include card-image-bottom(454px, 244px);

            > article {
                position:relative;

                > figure{
                    margin-bottom:10px;
                    
                    // @include gradientbefore();
                }

                > .content{
                    position:relative;
                    // padding: 110px 10px 20px 20px;
                    z-index:10;
                    // color:#fff;

                  
                    >div {
                        > .category{
                            display:none;
                        }
                        time {
                            display:none;
                            // display:block;
                            // font-size: rem(9);
                            // margin-top:7px;
                        }

                    }
                    > h2{
                        font-family:$font-family-serif;
                        font-size: rem(25);
                        font-weight:600;
                        line-height: 1.2;
                        margin-bottom:15px;
                        padding-right: 80px;
                        position:relative;

                        &:before{
                            content: '';
                            display:block;
                            height:62px;
                            width:62px;
                            margin-bottom:20px;
                            background-image:url('../images/ubt-logo-small.png');
                            background-size:cover;
                            background-repeat: no-repeat;
                        }
                        &:after{
                            content: '';
                            position:absolute;
                            right:0;
                            bottom:0;
                            display:block;
                            height:25px;
                            width:74px;
                            background-image:url('../images/ubt-logo.png');
                            background-size:cover;
                            background-repeat: no-repeat;  
                        }

                    }

                    > p.excerpt {
                        display:none;
                    }

                }
                &.video {
                    > .content {
                        &:before{
                            @include videoIcon();
                            display:block;
                            top: auto;
                            left:10px;
                            margin-left: 0;
                            margin-top: 0;
                        }
                        // &:after {
                        //   content:"";
                        //   display:table;
                        //   clear:both;
                        // }

                        h2, time {
                            margin-left:60px;
                        }

                    }
                }
            }


        }
    }
}