@mixin card-main-community-property-listing-base() {
    position:relative;

    a.card {
        border-bottom: 1px solid #97999c;

        > article {
            position:relative;

            > figure{
                margin-bottom:15px;
            }
            > .content{
                padding: 0;
                position:relative;
                > h2{
                    font-family: $base-font-family;
                    color:color(red);
                }
                p.region {
                    color:color(red);
                    font-family: $font-family-sans-serif;
                    text-transform: uppercase; 
                }
                > p.excerpt {
                    display:none;
                }
            }
        }
    }
}



.card-main-community-property-listing{
    @media screen and (min-width: $mmd-break){
        @include card-main-community-property-listing-base();

        margin-bottom: 32px;

        a.card {
            @include card-image-top(auto, 207px);

            > article {

                > .content{
                    > h1.price {
                        font-size: rem(14);
                        font-weight:600;
                        text-align: right;
                    }
                    > h2{
                        font-weight:400;
                        font-size: rem(11);
                        margin-top:10px;
                        margin-bottom:5px;
                        height:40px;
                        color:color(lightgrey);
                        text-transform:uppercase;
                        width: 150px;
                        margin-top: -13px;
                        margin-bottom: 27px;
                    }
                }
            }


            &.article.without__image {
                .content {
                    padding: 90px 60px 100px 60px;

                    h2 {
                        font-size: rem(34);
                        font-weight:bold;
                        max-height:80px;
                    }

                    > p.excerpt {
                        font-size: rem(15);
                        display: block;
                        line-height: 1.73;
                        height:185px;
                    }
                }
            }   
        }
    }
}


