.top-stories {
    counter-reset: my-badass-counter;
}
.top-stories > div:before {
    content: counter(my-badass-counter)".";
    counter-increment: my-badass-counter;
}

.top-stories--na {
    padding-bottom:23px;
   
}


.card-top-story{
    &:before {
        float:left;
        font-size:rem(17);
        color: color(red);
        margin-right:10px;
        line-height:1.2;
    }
    a.card {
        position:relative;

        >article {
            .content {
                width:auto;
                position:relative;
                padding: 0;

                div > {
                    .category,
                    .c-cards-view__labels{
                        display:none;
                    }
                    time {
                        display:none;
                    }
                }
                > p.excerpt {
                    display:none;
                }

            }
        }
    }
}

.card-top-story-dt{
    @media screen and (min-width: $mmd-break) {        
        position:relative;
        margin-bottom: 23px;
        a.card {
            > article {
                > .content{
                    > h2{
                        font-size: rem(14);
                        margin-bottom:0;
                        line-height: 1.42;
                        color:color(black);
                    }
                }
            }
        }
    }
}


.card-top-story-tablet{
    @media screen and (min-width: $sm-break) and (max-width: $mmd-break-down) {
        margin-bottom: 15px;
        &:before {
            font-size:rem(12);
        }
        a.card {
            > article {
                > .content{
                    > h2{
                        font-size: rem(12);
                        margin-bottom:0;
                        line-height: 1.17;
                        color:color(black);
                        height: 28px;
                    }
                }
            }
        }
    }
}

.card-top-story-mobile{
    @media screen and (max-width: $sm-break-down) {
        margin-bottom: 10px;
        &:before {
            font-size:rem(14);
        }
        a.card {
            > article {
                > .content{
                    > h2{
                        font-size: rem(14);
                        margin-bottom:0;
                        line-height: 1.17;
                        color:color(black);
                        height: 34px;
                    }
                }
            }
        }
    }
}


.card-top-story__NA {
    @media #{$media-desktop-up} {
        a.card {
            > article {
                > .content{
                    > h2{
                        height: 38px
                    }

                }
            }
        }
        margin-bottom: 10px;
    }
    &.top-stories__final {
        margin-bottom: 0;
        padding-bottom:34px;
        border-bottom: 1px solid #97999c;
    }
}


