.card-article-suggested{
    // @media screen and (min-width: $sm-break){
        
        position:relative;
        margin-bottom: 32px;
        


        a.card {
            @include card-image-left(75px, 63px);
            padding-bottom: 20px;
            border-bottom: 1px solid color(lightgrey);

            > article {
                position:relative;


                > figure {
                    margin-right:18px;
                    position: absolute;
                    margin-right: 18px;
                    margin-top: 20px;
                }


                > .content  {
                    line-height:1;
                    margin-bottom:6px;

                    > div {
                        > .category{
                            display:inline-block;
                            font-size: rem(10);
                            color:color(lightgrey);
                            text-transform:uppercase; 
                            padding-right:5px;
                            margin-right:5px;
                            line-height:1;
                            vertical-align:top;
                            border-right:1px solid color(lightgrey);
                        }

                        > time {
                            font-size: rem(10);
                            display:inline-block;
                            color:color(lightgrey);
                            text-transform:uppercase; 
                            line-height:1;
                            vertical-align:top;
                        }
                    }

                    
                    &:after {
                        content: ' ';
                        display:block;
                        clear:both;
                    }

                }



                > .content{
                    position:relative;
                    padding: 0;

                    > h2{
                        font-size: rem(18);
                        margin-bottom:0;
                        line-height: 1;
                        max-height:63px;
                        margin-left:90px;
                        margin-top:4px;
                    }

                    > p.excerpt {
                        display:none;
                        font-size: rem(13);
                        line-height: 1.54;
                        height:40px;
                        margin-left:90px;
                    }
                }
            }


            &.article.without__image {
            }   
        }
    // }
}