.card-sm-short{
    @media screen and (min-width: $mmd-break){
        
        position:relative;
        margin-bottom: 32px;

        a.card {
            border-bottom: 1px solid #97999c;

            > article {
                position:relative;

                > figure{
                    width:92px;
                    height:95px;
                    position:absolute;
                    top:20px;
                }

                > .content{
                    display:block;
                    position:relative;
                    padding: 0;

                    >div {
                        >time{
                            border-left:1px solid color(lightgrey);
                        }
                    }

                    > h2{
                        margin-top:2px;
                        height:95px;
                        margin-left:104px;
                        margin-bottom:0;
                        line-height: 1.3;
                        color:color(black);
                    }

                    > p.excerpt {
                        color:color(black);
                        line-height: 1.54;
                        margin-top:15px;
                        margin-bottom: 25px;
                        height:60px;
                    }
                }

                &.video {
                    // > figure{
                    //     position: absolute;
                    //     left: 0;
                    //     right: 0;
                    //     top: 20px;
                    //     height:165px;
                    //     width: 100%;

                    //     &:before {
                    //         top:auto;
                    //         bottom: 10px;
                    //         left: 35px;
                    //         margin-top:0;
                    //     }
                    // }
                    // > .content{
                    //     padding-bottom: 38px;

                    //     > h2 {
                    //         margin-left: 77px;
                    //         margin-top:105px;
                    //         color:color(white);
                    //         height:52px;
                    //     }
                    //     >p.excerpt {
                    //         display:none;
                    //     }
                    // }
                }

            }


            &.without__image {
                > article {

                    > .content{

                        > h2{
                            height:auto;
                            margin-left:0;
                        }

                        > p.excerpt {
                            margin-bottom: 30px;
                            height:100px;
                        }
                    }
                }
            }

        }
    }
}






.card-sm-short-tablet{
    @media screen and (min-width: $sm-break) and (max-width: $mmd-break-down) {
        
        position:relative;
        margin-bottom: 20px;

        &:last-child>a.card{
            border-bottom: none;
        }

        a.card {
            border-bottom: 1px solid #97999c;

            > article {
                position:relative;

                > figure{
                    width:50px;
                    height:50px;
                    position:absolute;
                    top:20px;
                }

                > .content{
                    display:block;
                    position:relative;
                    padding: 0;

                    > div {
                        > time{
                            border-left:1px solid color(lightgrey);
                        }
                    }

                    > h2{
                        font-size: rem(16);
                        margin-top:2px;
                        height:38px;
                        margin-left:60px;
                        margin-bottom:0;
                        line-height: 1.3;
                        color:color(black);
                    }

                    > p.excerpt {
                        font-size: rem(11);
                        color:color(black);
                        line-height: 1.36;
                        margin-top:11px;
                        margin-bottom: 20px;
                        height:30px;
                    }
                }

                &.video {
                    > figure{
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 20px;
                        height:165px;
                        width: 100%;

                        &:before {
                            top:auto;
                            bottom: 10px;
                            left: 35px;
                            margin-top:0;
                        }
                    }
                    > .content{
                        padding-bottom: 38px;

                        > h2 {
                            margin-left: 77px;
                            margin-top:105px;
                            color:color(white);
                            height:52px;
                        }
                        >p.excerpt {
                            display:none;
                        }
                    }
                }

            }


            &.without__image {
                > article {

                    > .content{

                        .category {
                            font-size:rem(10);
                            // margin:0;
                        }

                        > h2{
                            font-size: rem(16);
                            margin-left:0;
                            height:36px;
                            line-height: 1.12;
                            margin-bottom: 4px;
                        }

                        > p.excerpt {
                            font-size: rem(11);
                            line-height: 1.36;
                            margin-top:5px;
                            margin-bottom: 10px;
                            height: 90px;
                        }
                    }
                    &.video {
                        
                        > .content{
                            padding-bottom: 0;

                            > h2 {
                                margin-top:0;
                                color:color(black);
                            }
                            >p.excerpt {
                                display:block;
                            }
                        }
                    }
                }

            }

        }
    }
}