.card-rec-conf-dt {
    @media screen and (min-width: $sm-break){

        @include card-image-right(314px);
        margin-bottom: 38px;
        position:relative;

        a.card {
            border-bottom:1px solid color(lightblue);

            > article {
                margin-bottom:20px;
                height:205px;

                > figure{
                    position:static;
                    margin-left:100px;


                    &:before{
                        @include videoIcon();
                        top: 120px;
                        left: 15px;
                        margin:0;
                    }

                    &.video {
                        &:before{
                            top: 150px;
                            left: 35px;
                        }
                    }
                }

                > .content{
                    padding:0 30px 0 0;

                    > h2{
                        font-size: rem(22);
                        margin-bottom:7px;
                        line-height:1.3em;
                    }
                    
                    > p {
                        display:none;
                    }

                    > .author{
                        display:none;
                    }
                }
            }
        }
    }
}


.card-rec-conf-mob {
    @media screen and (max-width: $sm-break-down){
        @include card-image-bottom(100%, 350px);

        margin-bottom: 38px;
        position:relative;
        padding-right: 15px;
        
        a.card {
            border-bottom:1px solid color(lightblue);

            > article {

                margin-bottom:20px;
                height:auto;

                > figure{
                    margin-top:90px;
                    position:relative;
                    margin-left:0;

                    @media screen and (max-width: $mobile-break) {
                        height: 180px;
                    }

                    &:before{
                        @include videoIcon();
                        top: -50px;
                        left: 25px;
                    }
                    &.video {
                        &:before{
                            top: -50px;
                            left: 25px;                        }
                    }
                }

                > .content{
                    padding:0 30px 0 0;

                    > h2{
                        font-size: rem(22);
                        margin-bottom:7px;
                        line-height:1.3em;
                    }
                    
                    > p {
                        display:none;
                    }

                    > .author{
                        display:none;
                    }
                }
            }
        }
    }
}