@mixin card-lg-base() {
    position:relative;
    
    a.card {
        height:100%;
        @include card-image-full();

        > article {
            position:relative;

            > figure {
                @include gradientbefore();

                &.video {
                    &:before{
                        display:none;
                    }
                }
            }

            > .content{
                position:relative;
                text-align:center;
                z-index:10;
                color:#fff;

                > div {
                    > .category {
                        color:white;
                        border-right:1px solid color(white);
                    }
                    time {
                        color:white;
                    }
                }

                > h2{
                    margin-top:20px;
                    width:65%;
                    margin-left:auto;
                    margin-right:auto;
                    font-weight:600;
                    margin-bottom: 25px;
                    line-height: 1.2;
                    text-align:center;
                    font-family: $font-family-serif;
                }

                > p.excerpt {

                    font-size: rem(13);
                    line-height: 1.54;
                    height:40px;
                    width: 50%;
                    margin: auto;
                }
            }
            &.video {
                .content {
                    &:before {
                        @include videoIcon();
                        top:auto;
                        bottom:-70px;
                    }
                }
            }
        }
        &.article.without__image {
            background: color(darkblue);
        }   
    }
}



.card-lg-full{
    @media screen and (min-width: $mmd-break){
        @include card-lg-base();

        margin-bottom: 32px;
        height:422px;

        a.card {
            > article {
                padding-right:360px;

                > figure {
                    &:after {
                        content:'';
                        display:block;
                        position:absolute;
                        top:0;
                        left:0;
                        right:0;
                        bottom:0;
                        background:rgba(151, 153, 156, .4);
                    }
                }


                > .content{
                    padding: 120px 0 20px 0;

                    > h2{
                        font-size: rem(25);
                        color:white;
                    }
                }
            }
        }
    }
}




.card-lg-full-tablet{
    @media screen and (min-width: $sm-break) and (max-width: $mmd-break-down) {
        @include card-lg-base();

        margin-bottom: 20px;
        height:231px;

        a.card {

            > article {
                padding-right:220px;

                > .content{
                    padding: 50px 0 20px 0;

                    > h2{
                        font-size: rem(16);
                        margin-bottom: 15px;
                        color:white;
                    }

                    > p.excerpt {
                        font-size: rem(11);
                        line-height: 1.36;
                        height:45px;
                        width: 70%;
                    }
                }
            }
        }
    }
}




.card-lg-full-mobile{
    @media screen and (max-width: $sm-break-down){
        @include card-lg-base();

        margin-bottom: 20px;
        height:355px;

        a.card {
            > article {
                > .content {
                    padding: 66px 0 20px 0;

                    div {
                        > .category {
                            display:block;
                            font-size:rem(16);
                            font-weight:400;
                        }
                    }

                    > h2{
                        font-size: rem(25);
                    }
                }
            }
        }
    }
}
