@mixin card-sm-base() {
    position:relative;

    a.card {
        border-bottom: 1px solid #97999c;

        > article {
            position:relative;

            > figure{

            }
            > .content{
                position:relative;
                padding: 0;
                
                >div {
                    > .category{
                        border-right:1px solid color(lightgrey);
                    }
                }

                > h2{
                    margin-top:2px;
                    margin-bottom:0;
                    color:color(black);
                    height:54px;
                }
                > p.excerpt {
                    color:color(black);
                }
            }
        }
    }
}



.card-sm {
    @media screen and (min-width: $mmd-break){
        @include card-sm-base();
        margin-bottom: 32px;

        a.card {
            @include card-image-top(auto, 184px);

            > article {

                > figure{
                    margin-bottom: 16px;
                }

                > .content{

                    > h2{
                        line-height: 1.3;
                    }

                    > p.excerpt {
                        line-height: 1.54;
                        margin-top:15px;
                        margin-bottom: 30px;
                        height:100px;
                    }
                }
            }


            &.article.without__image {
                > article {
                    .content {
                        p.excerpt {
                            max-height:286px;
                            font-size: rem(15);
                            line-height: 1.73;

                        }
                    }
                }
            }   
        }
    }
}





.card-sm-tablet {
    @media screen and (min-width: $sm-break) and (max-width: $mmd-break-down) {
        @include card-sm-base();

        margin-bottom: 20px;

        a.card {
            @include card-image-top(auto, 91px);

            > article {

                > .content{

                    > div {
                        margin-top:2px;
                    }

                    > h2{
                        font-size:rem(16);
                        line-height: 1.12;
                        height:54px;
                    }

                    > p.excerpt {
                        font-size:rem(11);
                        line-height: 1.36;
                        margin-top:5px;
                        margin-bottom: 17px;
                        height:32px;
                    }
                }
            }


            &.article.without__image {
                > article {
                    .content {
                        p.excerpt {
                            height:30px;
                            font-size: rem(11);
                            line-height: 1.363;
                        }
                    }
                    &.video {
                        > .content{
                            > h2{
                                color:color(black);
                            }

                            > p.excerpt {
                                height:30px;
                                font-size: rem(11);
                                line-height: 1.363;
                                display:block;
                            }
                        }
                    }
                }
            }   
        }
    }
}












.card-sm-mobile {
    @media screen and (max-width: $sm-break-down){
        @include card-sm-base();

        margin-bottom: 20px;

        a.card {

            @include card-image-left(80px, 82px);

            > article {
    
                > figure {
                    margin-right:12px;
                }


                > .content{
                    display:block;

                    > h2{
                        font-size: rem(18);
                        margin-top:2px;
                        max-height:70px;
                        margin-bottom:0;
                        margin-top:0;
                        line-height: 1.28;
                        color:color(black);
                    }

                    > p.excerpt {
                        color:color(black);
                        line-height: 1.54;
                        font-size: rem(13);
                        margin-top:25px;
                        margin-bottom:20px;
                        max-height:100px;
                    }
                }

                &.video {
                    > figure{
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 20px;
                        height:165px;
                        width: 100%;

                        &:before {
                            top:auto;
                            bottom: 10px;
                            left: 35px;
                            margin-top:0;
                        }
                    }
                    > .content{
                        padding-bottom: 38px;

                        > h2 {
                            margin-left: 77px;
                            margin-top:105px;
                            color:color(white);
                            height:52px;
                        }
                        >p.excerpt {
                            display:none;
                        }
                    }
                }

            }


            &.without__image {
                > article {

                    > .content{

                        > h2{
                            height:auto;
                            margin-left:0;
                        }

                        > p.excerpt {
                            margin-top:10px;
                            margin-bottom: 22px;
                            height:100px;
                        }
                    }
                    &.video {
                        > .content{
                            > h2{
                                color:color(black);
                            }

                            > p.excerpt {
                                margin-top:10px;
                                margin-bottom: 22px;
                                height:100px;
                                display:block;
                            }
                        }
                    }
                }
            }

        }
    }
}
