@mixin card-main-base() {
    position:relative;

    a.card {
        border-bottom: 1px solid #97999c;

        > article {
            position:relative;

            > figure{
                margin-bottom:15px;
            }
            > .content{
                text-align:center;
                position:relative;
                padding: 0;

                > div {
                    >time{
                        border-left:1px solid color(lightgrey);
                    }
                }

                > h2{
                    padding-bottom:3px;
                }
                > p.excerpt {
                    color:color(black);
                }
            }
        }
    }
}



.card-main{
    @media screen and (min-width: $mmd-break){
        
        margin-bottom: 32px;

        a.card {
            @include card-image-top(auto, 310px);

            > article {

                > .content{

                    .cat-time {
                        margin-top: 15px;
                    }
                    
                    > h2{
                        font-family:$font-family-serif;
                        font-size:rem(34);
                        font-weight:600;
                        margin-top:4px;
                        margin-bottom:0;
                        color:color(black);
                        min-height: 40px;
                    }

                    > p.excerpt {
                        line-height: 1.54;
                        margin-top:15px;
                        height:41px;
                        margin-bottom: 30px;
                    }
                }
            }


            &.article.without__image {
                .content {
                    padding: 90px 60px 100px 60px;

                    h2 {
                        font-size: rem(34);
                        font-weight:bold;
                        max-height:80px;
                    }

                    > p.excerpt {
                        font-size: rem(15);
                        display: block;
                        line-height: 1.73;
                        height:185px;
                    }
                }
            }   
        }
    }
}







.card-main-tablet{
    @media screen and (min-width: $sm-break) and (max-width: $mmd-break-down) {
        
        margin-bottom: 20px;

        a.card {
            @include card-image-top(auto, 262px);

            > article {

                > figure{
                    margin-bottom:5px;
                }


                > .content{

                    .cat-time {
                        margin-top: 15px;
                    }

                    > div {
                        >time{
                            border-left:1px solid color(lightgrey);
                        }
                    }

                    > h2{
                        font-family:$font-family-serif;
                        font-size:rem(18);
                        font-weight:600;
                        margin-top:10px;
                        line-height:1.18;
                        margin-bottom:0;
                        color:color(black);
                    }

                    > p.excerpt {
                        font-size:rem(11);
                        line-height: 1.36;
                        margin-top:4px;
                        height:30px;
                        margin-bottom: 15px;
                    }

                }
            }


            &.article.without__image {
                .content {
                    padding: 90px 60px 100px 60px;

                    h2 {
                        font-size: rem(34);
                        font-weight:bold;
                        max-height:80px;
                    }

                    > p.excerpt {
                        font-size: rem(15);
                        display: block;
                        line-height: 1.73;
                        height:185px;
                    }
                }
            }   
        }
    }
}










.card-main-mobile{
    @media screen and (max-width: $sm-break-down){
        
        margin-bottom: 20px;

        a.card {
            @include card-image-top(auto, 190px);

            > article {

                > .content{

                    .cat-time {
                        margin-top: 15px;
                    }

                    > h2{
                        font-family:$font-family-serif;
                        font-size:rem(24);
                        font-weight:600;
                        margin-top:4px;
                        margin-bottom:0;
                        line-height:1.25;
                        color:color(black);
                        max-height:90px;
                    }

                    > p.excerpt {
                        line-height: 1.54;
                        margin-top:8px;
                        max-height:80px;
                        margin-bottom: 30px;
                    }

                }
            }


            &.article.without__image {
                .content {
                    padding: 90px 60px 100px 60px;

                    h2 {
                        font-size: rem(34);
                        font-weight:bold;
                        max-height:80px;
                    }

                    > p.excerpt {
                        font-size: rem(15);
                        display: block;
                        line-height: 1.73;
                        height:185px;
                    }
                }
            }   
        }
    }
}
