.profile-section {
    width: 100%;
    padding: 18px 0px;
}

.profile-section--border {
    border-bottom: 1px solid color(lightgrey);
}

.profile-section__users-left {
    font-size:rem(12);
    font-weight:400;
    color:rgb(151, 153, 156);
}
.profile-section__header {
    width: 100%;
    border-bottom: 1px solid color(lightgrey);
    padding-bottom: 10px;
    margin-top:40px;
    margin-bottom: 15px;
}
.profile-section__heading {
    display: inline;
    font-size: rem(15);
    font-weight: bold;
    line-height: 1.33;
    color: black;
    padding-bottom: 11px;
}
