/* reset from content builder */
// .row > * {
//     min-height: 1;
// }
// div[class*="col-"] {
//     background:orange;
// }







// .link-arrow {
//     display:inline-block;
//     background-image: url(../images/link-arrow.svg);
//     background-repeat: no-repeat;
//     background-size:contain;
//     position: relative;
//     top: 6px;
//     width: 14px;
//     height: 27px;
// }








// #wrapper    {
//   position:absolute;top:0;width:100%;height:100%;z-index:1001;background: rgba(0,0,0,0.5);
  
//   #dialog     {margin: auto auto;min-width:450px;min-height:100px;text-align:center;vertical-align: middle;background:rgba(0,0,0,0.9);padding-bottom:30px;border-radius:15px;}
//   #dialog > div {position:relative;top:10%;margin:auto;}
//   #dialogTitle {color:white;text-align: center;width:95%;font-size:3em;margin:20px auto;padding:5px;font-weight:100;}
//   #dialogMessage {color:white;text-align: center;font-size:15px;margin:10px 0;padding:5px;font-weight: 300 !important;}
//   #details    {text-align:center;}
//   #details li {color:white;text-align: center;}
//   #dialogButtons {padding:0;text-align:center;margin-top:20px;}
//   #dialogButtons li {display:inline-block;height:25px;width:70px;margin:0 6px;color:white;cursor:pointer;border:1px solid white;line-height:25px;vertical-align:middle;}
//   #dialogButtons li:hover {background:white;color:#049cdb;}

//   #dialogButtons button{  font-size: 1.1em;
//           border:0;
//         min-width: 70px;
//         color: rgba(255,255,255,0.95);
//         background-color: rgba(255,255,255,0.1);
//         /* border: 2px solid !important; */
//         border-radius: 20px;
//         cursor: pointer;
//         padding: 3px 16px;
//         font-weight: 500 !important;
//         letter-spacing: 0.035em;
//       }
//       #dialogButtons button:disabled{cursor:default !important;color: rgba(0,0,0,1) !important;}
//       #dialogButtons button:first-letter{text-transform: uppercase;}

//       #dialogButtons button:not([disabled]):hover{background-color:#3F84A0 !important;}
//       #dialogButtons button:disabled:hover{;}

//       #dialogButtons button + button { margin-left: 8px; }

//   #message {margin:auto auto;width:100%;padding:15px;color:white;font-size:48px;line-height:50px;background: #5BBFD7;text-align:center;z-index:100000;}
//   #message p { font-weight:700 !important; text-transform: uppercase;letter-spacing: 0.025em;}
//   #servermessage {margin:auto auto;width:100%;padding:15px;color:white;font-size:13px;line-height:15px;background: #5BBFD7;text-align:center;z-index:100000;overflow:auto;}
// }


