.business-section__hero {
    height:566px;
    margin-bottom:70px;
    // background:yellow;
    // background-image: linear-gradient(to left, rgba(0, 0, 0, 0.0), #000000), url('../images/market-hand_crop.png');
    // background-image: linear-gradient(to left, rgba(0, 45, 86, 0.0), #193046), url('../images/market-hand_crop.png');
    background-image: linear-gradient(to right, #193046 17%, rgba(0, 0, 0, 0.0) 100%) , url('../images/business-hero.png');

    // background: url('../images/market-hand.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;

    @media screen and (max-width: $mmd-break-down) {
        height:400px;
        background-size: cover;
        background-position: left;
    }

    @media screen and (max-width: $sm-break-down) {
        height:300px;
        background-size: cover;
        margin-bottom:25px;

    }

    .content {
        width:581px;
        padding-top:185px;
        @media screen and (max-width: $mmd-break-down) {
            padding-top:120px;
        }
        @media screen and (max-width: $sm-break-down) {
            width:100%;
            padding-top:140px;
        }

        h1 {
            line-height: 0.88;
            font-family: $font-family-serif;
            font-size: rem(64);
            font-weight:700;
            color:white;
            margin-bottom:25px;
            @media screen and (max-width: $mmd-break-down) {
                font-size: rem(47);
                width:335px;
            }

            @media #{$media-mobile} {
                font-size: rem(30);
                width:262px;
                margin-top: -55px;
                margin-bottom:25px;
                line-height:1;
            }
        }


        p {
            font-family:$base-font-family;
            font-size: rem(24);
            color:white;
            margin-bottom:45px;

            @media #{$media-iPad} {
                font-size: rem(15);
            }
            @media #{$media-mobile} {
                font-size: rem(14);
                width:250px;
                margin-bottom:15px;
                font-weight: 200;
            }
        }
        
        a {
            background: color(red);
            color:white;
            font-size:rem(14);
            padding:15px 10px;

            @media #{$media-iPad} {
                font-size:rem(11);
                padding:11px 8px;
                width: 113px;
            }

            @media #{$media-mobile} {
                font-size:rem(11);
                padding:8px 15px;
                width: 113px;
            }

        }
    }
}

.business-section__benefits {
    font-family: $font-family-serif;
    font-size: rem(41);
    line-height: 1.34;
    text-align: center;
    color: #000000;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    @media #{$media-mobile} {
        font-size: rem(20);
        width: unset;
    }
}

.business-section__benefitslist {
    margin: 93px 0;
    padding-top: 70px;
    padding-bottom: 40px;
    background: rgba(216,216,216,.3);
    @media #{$media-mobile} {
        margin-top: 25px;
        padding-top: 15px;
    }

}

.business-section__header {
  font-family: $font-family-serif;
  font-size: rem(50);
  font-weight: 600;
  letter-spacing: 1.2px;
  text-align: center;
  color: #ae232c;
  @media #{$media-iPad}{
    font-size: rem(28);
  }
  @media #{$media-mobile} {
    font-size: rem(26);
  }
}

.business-section__itals {
    font-family: $font-family-serif;
    font-size: rem(25);
    font-style: italic;
    text-align: center;
    color: #000000;
    margin-top: 15px;
    @media #{$media-iPad}{
        font-size: rem(21);
    }
    @media #{$media-mobile} {
        font-size: rem(18);
    }
}

.business-section__subhead {
    font-family: $font-family-sans-serif;
    font-size: rem(18);
    font-weight: 600;
    line-height: 1.44;
    color: #002d56;
    @media #{$media-mobile} {
        font-size: rem(16);
    }
}

.business-section__headtext {
    font-family: $font-family-sans-serif;
    font-size: rem(20);
    font-weight: 600;
    line-height: 1.3;
    color: #000000;
    padding-bottom: 10px;
    border-bottom: 2px #979797 solid;
    margin-top: 20px;
    @media #{$media-mobile} {
        font-size: rem(16);
        width: 194px;
    }
}

.business-section__text {
    font-family: $font-family-sans-serif;
    font-size: rem(19);
    line-height: 1.47;
    color: #000000;
    margin-top: 15px;
    @media #{$media-mobile} {
        font-size: rem(16);
    }
}

.business-section__listings {
    height: 220px;
    margin-left: 110px;
    @media #{$media-mobile} {
        margin: 25px 0;
        height: 340px;
    }

}
.business-section__pdf {
    height: 220px;
    @media #{$media-mobile} {
        height: 315px;
        margin: 25px 0;
    }
}

.business-section__video {
    height: 550px;
    > video {
            height: 500px;
        }
    @media #{$media-mobile} {
        position: absolute;
        top: -190px;
        height: 186px;
        > video {
            height: 170px;
        }
    }
    @media #{$media-iPad} {
        position: absolute;
        top: 0;
        left: 20px;
        height: 350px;
        > video {
            height: 350px;
        }
    }
}
.business-section__live {
   @media #{$media-iPad} {
    margin-top: 365px;
   }
   @media #{$media-mobile} {
    margin-top: 220px;
   } 
}


.layout-bus-marketing {
    .site-header-main{
        display: none;
    }
}