.market-header {
        height:172px;
        position:relative;

        &__logo {
            position:absolute;
            left:0;
            top:55px;
            @media screen and (max-width: $mmd-break) {
                width:91px;
                height:32px;
                left:20px;
            }
            @media screen and (max-width: $sm-break) {
                float: left;
                margin:auto;
                margin-top: 55px; 
                width: 90px;
                height: 31px;
                display:block;
                position:static;
            }
        }


        &__center {
            text-align:center;
            width:350px;
            margin: 0 auto;
            margin-top:25px;

            @media screen and (max-width: $mmd-break) {
                width: 265px;
            }
            @media screen and (max-width: $sm-break) {
                width: 189px;
            }        
            @media screen and (max-width: $sm-break) {
                float: right;
            }
        }
        &__p {
            border-top:1px solid black;
            padding-top:10px;
            font-size: rem(17);
            margin-top:20px;

            @media screen and (max-width: $mmd-break) {
                font-size: rem(11);
                margin-top:0;
            }
            @media screen and (max-width: $sm-break) {
                font-size: rem(9);
            }
        }
        &__center-img {
            @media screen and (max-width: $mmd-break) {
                width:129px;
            }
            @media screen and (max-width: $sm-break) {
                width:104px;
            }

        }
    }