
.payment-fix {
    &__container {
        padding:20px;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00b7ea+0,009ec3+100;Blue+3D+%2315 */
        background: rgb(0,183,234); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(0,183,234,1) 0%, rgba(0,158,195,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
    }

    &__header {
        color:white;
    }
    &__message {
        color:white;
    }

    &__label {
        color:white !important;
        font-weight:300 !important;
    }
    &__button {
        background: white;
        color:black;
        &:hover {
            background: #ebfcff;
        }
    }

}

