html {
    font-size:100%;
}

h1, h2 {
    margin:0;
    font-weight:300;
}
a {
    &:hover {
        text-decoration:none;
    }
}
body{
    // overflow-y:scroll;
    // -webkit-overflow-scrolling:touch;
    color: color(dark);
    background: #fff;
    
    // @media screen and (max-width: $sm-break){
    //     overflow-x: hidden;
    // }
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    min-width: 0;

    // label {
    //     display: inline-block;
    //     max-width: 100%;
    //     margin-bottom: 5px;
    //     font-weight: bold;
    // }
}
