main.listingForm, main.eventForm {
    div.center {
        height:100%;
        
        >p {
            height:100%;
            vertical-align:middle;
        }
        > input {
            height:100%;
            vertical-align:middle;
        }
    }

    .userListingsHeader {
        font-size: rem(16);
        font-weight:600;
        color:color(darkblue);
        margin-bottom: 27px;
        &:after{
            content: '';
            display: block;
            height: 1px;
            width: 23px;
            margin-top: 15px;
            background: color(darkblue);
        }
    }

    .error-message {
        display:none;
        padding:3px 10px;
        background:color(red);
        color:white;
        font-size:rem(15);
        margin-bottom:41px;
        &.active {
            display:block;
        }
    }


    form {
        .formError {
            border-color:color(red) !important;
        }

        .float-left {
            float:left;
            width:520px;
            margin-right:22px;
        }

        .propertyListingSelect {
            .Acme-pulldown {
                height:44px;
                width:100%;
                border: 1px solid #E5E5E5;
                margin-bottom:10px;

                >p {
                    line-height:44px;
                }

                >ul {
                    top:42px;
                    border: 1px solid #E5E5E5;
                }
            }
        }



        p.form-section-label {
            font-size: rem(15);
            color:color(red);
            margin-bottom:12px;
            font-weight:700;
        }

        hr {
            background-color: color(dark);
            height: 1px;
            border: 0;
            margin-bottom: 55px;
        }

        hr.light {
            background-color: #d9d9d6;
            height: 1px;
            margin-bottom: 22px;
        }

        .areatext {
            position: relative;
            top: -20px;
        }

        textarea {
            &.job-description {
                height: 174px;
                padding:11px 15px;
                width:100%;
            }
        }

        fieldset {
            margin: 12px 0;

            label {
                font-weight:normal;
                font-size: rem(15);
                margin-left:7px;
            }
        }
        
        input[type=radio] {
            &.inline {
                margin-top:20px;
            }
        }


        input[type=text], input[type=password], input[type=email] {
            display:block;
            border:none;
            height: 44px;
            padding: 7px;
            width:100%;
            margin-bottom:12px;
            padding-left:15px;
            border-radius:6px;
            border: 1px solid color(lightergrey);


            &::placeholder {
                font-size: rem(14);
                color:color(lightgrey);
            }
            &::-webkit-input-placeholder {
                font-size: rem(14);
                color:color(lightgrey);
            }
            &::-moz-placeholder { /* Firefox 19+ */
                font-size: rem(14);
                color:color(lightgrey);
            }
            &:-ms-input-placeholder { /* IE 10+ */
                font-size: rem(14);
                color:color(lightgrey);
            }
            &:-moz-placeholder { /* Firefox 18- */
                font-size: rem(14);
                color:color(lightgrey);
            }

            &:disabled {
                background:none;
                border: none;
                webkit-box-shadow: none;
                box-shadow: none;
            }

        }

        textarea {
            width: 100%;
            height: 174px;
            border: 1px solid color(lightergrey);
            border-radius:6px;
            // float:left;
            margin-right:12px;
            margin-bottom:12px;
            padding:10px;
            &::placeholder {
                font-size: rem(14);
                color:color(lightgrey);
            }
            &::-webkit-input-placeholder {
                font-size: rem(14);
                color:color(lightgrey);
            }
            &::-moz-placeholder { /* Firefox 19+ */
                font-size: rem(14);
                color:color(lightgrey);
            }
            &:-ms-input-placeholder { /* IE 10+ */
                font-size: rem(14);
                color:color(lightgrey);
            }
            &:-moz-placeholder { /* Firefox 18- */
                font-size: rem(14);
                color:color(lightgrey);
            }

        }

        h3 {
            font-size:rem(14);
        }

        
        .floatcontainer {
            overflow:auto;
        }
        .uploadFileBtn {
            float:left;
            height:174px;
            width:100%;
            background:color(buttongrey);
            cursor:pointer;
            border-radius:6px;
            padding:12px;

            > div {
                text-align:center;
                height:100%;
                border: 1px dashed black;
                border-radius:3px;
                > div >p {
                    font-size:rem(10);
                    padding:0;
                    margin:0;
                }
            }

            &.jobs {
                height:100px;
                > div {
                    > div > p {
                        padding-top: 15px;
                    }
                }
            }
            &.property {
                > div {
                    padding-top: 30%;
                     > div > p {
                        padding-top: 5px;
                    }

                }
            }
            &.events {
                > div {
                    padding-top: 20%;
                     > div > p {
                        padding-top: 5px;
                    }

                }
            }

        }
        .imagearray {
            clear:both;
            margin-top:20px;
            overflow:auto;
            .formimage {
                float:left;
                margin-right:15px;
                height:150px;
                width:150px;
                background-size:cover;
            }
        }
        .images {
            height:200px;
            width:200px;
        }

        div.inline {
            display:inline-block;
            margin-right:35px;
            &:last-of-type {
                margin-right:0;
            }
        }

        label {
            font-size: rem(14);
            color:color(dark);
        }
    }
}

