main.listingForm {
    div.center {
        height:100%;
        
        >p {
            height:100%;
            vertical-align:middle;
        }
        > input {
            height:100%;
            vertical-align:middle;
        }
    }

    form {
        

        .propertyListingSelect {
            .pulldown {
                height:44px;
                width:100%;
                border: 1px solid #E5E5E5;
                margin-bottom:10px;

                >p {
                    line-height:44px;
                }

                >ul {
                    top:42px;
                    border: 1px solid #E5E5E5;
                }
            }
        }



        p.form-section-label {
            font-size: rem(15);
            color:color(red);
            margin-top:30px;
            margin-bottom:12px;
            font-weight:700;
        }

        hr {
            background-color: color(dark);
            height: 1px;
            border: 0;
            margin-bottom: 55px;
        }

        hr.light {
            background-color: #d9d9d6;
            height: 1px;
            margin-bottom: 22px;
        }

        .areatext {
            position: relative;
            top: -20px;
        }

        textarea {
            &.job-description {
                height: 174px;
                padding:11px 15px;
            }
        }

        fieldset {
            margin: 12px 0;

            label {
                font-weight:normal;
                font-size: rem(15);
                margin-left:7px;
            }
        }
        
        input[type=radio] {
            &.inline {
                margin-top:20px;
            }
        }


        input[type=text] {
            display:block;
            border:none;
            height: 44px;
            padding: 7px;
            width:100%;
            margin-bottom:12px;
            padding-left:15px;
            border-radius:6px;
            border: 1px solid color(lightergrey);


            &::placeholder {
                font-size: rem(14);
                color:color(lightgrey);
            }
            &::-webkit-input-placeholder {
                font-size: rem(14);
                color:color(lightgrey);
            }
            &::-moz-placeholder { /* Firefox 19+ */
                font-size: rem(14);
                color:color(lightgrey);
            }
            &:-ms-input-placeholder { /* IE 10+ */
                font-size: rem(14);
                color:color(lightgrey);
            }
            &:-moz-placeholder { /* Firefox 18- */
                font-size: rem(14);
                color:color(lightgrey);
            }

            // &.role-other {
            //     width:170px;
            // }

            // &.team-other {
            //     width: 285px;
            // }
            
            // &.csc {
            //     width: 865px;
            // }

            // &.other {
            //     width: 750px;
            // }
            

        }
        // input[type=text]::placeholder {
        //     color:purple;
        // }

        textarea {
            width: 541px;
            height: 174px;
            border: 1px solid color(lightergrey);
            border-radius:6px;
            float:left;
            margin-right:12px;

            &::placeholder {
                font-size: rem(14);
                color:color(lightgrey);
            }
            &::-webkit-input-placeholder {
                font-size: rem(14);
                color:color(lightgrey);
            }
            &::-moz-placeholder { /* Firefox 19+ */
                font-size: rem(14);
                color:color(lightgrey);
            }
            &:-ms-input-placeholder { /* IE 10+ */
                font-size: rem(14);
                color:color(lightgrey);
            }
            &:-moz-placeholder { /* Firefox 18- */
                font-size: rem(14);
                color:color(lightgrey);
            }

        }

        h3 {
            font-size:rem(14);
        }


        button {
            margin-top:40px;
            background: color(red);
            color:white;
        }
        
        .floatcontainer {
            overflow:auto;
        }
        .uploadFileBtn {
            float:left;
            height:174px;
            width:200px;
            background:color(buttongrey);
            cursor:pointer;
            border-radius:6px;
        }
        .imagearray {
            clear:both;
            margin-top:20px;
            overflow:auto;
            .formimage {
                float:left;
                margin-right:15px;
                height:150px;
                width:150px;
                background-size:cover;
            }
        }
        .images {
            height:200px;
            width:200px;
        }

        div.inline {
            display:inline-block;
            margin-right:35px;
            &:last-of-type {
                margin-right:0;
            }
        }

        label {
            font-size: rem(14);
            color:color(dark);
        }
    }
}

