ul.section-list {
    padding:0;
    margin-bottom:100px;
    @media screen and (max-width: $sm-break) {
        margin-bottom:30px;

    }

    > li {
        position:relative;
        padding:0;
        min-height: 77px;
        display:table;
        border-collapse:separate;
        border-spacing:0 10px;
        width:100%;
        border-bottom:1px solid color(lightblue);
        @media screen and (max-width: $sm-break) {
            padding: 10px 0 10px 0;

        }

        &:first-child {
            border-top:1px solid color(lightblue);
        }

        > a {
            display: table-cell;
            vertical-align: middle;
            color: color(darkblue);
            line-height: 1.2;

            &:hover {
                text-decoration:none;
            }

            >p {
                color:color(grey);
                font-weight:bold;
                margin:0;
                margin-bottom: 7px;
                font-size: rem(12);
            }
            >h2 {
                margin:0;
                font-size: rem(20);
                padding-right:25px;
            }
            >span {
                position:absolute;
                right:0;
                top: 50%;
                margin-top: -14px;
            }
        }
    }
}

div.header-image {
    height:455px;
    margin-bottom: 3px;
    position:relative;
    background-repeat: no-repeat;
    background-size:cover;
    overflow:hidden;


    @media screen and (max-width: $sm-break) {
        width:100%;
        height:235px;
    }
    // IE10+ HACK
    _:-ms-lang(x) {
       // height:455px !important;
       overflow:hidden !important;

    }
   // IE9 HACK
    :root img {
        height:auto;
        width:auto;
        max-width:none;
    }  

    // IE10+ HACK
    _:-ms-lang(x), img {
        height:auto !important;
        width:auto !important;
        min-width:100% !important;
        max-width:none !important;
    } 
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }


    .header-text {
        position:absolute;
        top:0;
        padding:132px 22px 10px 35px;
        width:360px;
        height:100%;
        background: color(dark);

        >h1 {
            font-size: rem(28);
            color:#fff;
            margin:0;
            margin-bottom:16px;
            line-height: 1.29;
        }
        > div {
            height: 110px;
            overflow: hidden;
            color:#fff;

            > p {
                font-size: rem(16);
                font-weight:300;
                color:#fff;
                line-height: 1.5;
            }
        }
        h4 {
            color: #bfc7dc;
            font-size: rem(12);
            font-weight:500;
        }
        >p.more {
            color:#fff;
            font-size: rem(12);
        }
    }
}
.header-container {
    background: color(dark);
    width:100%;
    // height:306px;
    padding:29px 16px 10px 16px;
    margin-left: 0;

    >h1 {
        font-size: rem(28);
        color:#fff;
        margin:0;
        margin-bottom:16px;
        line-height: 1.29;
    }

    > div {
        height: 100px;
        overflow: hidden;
        
        > p {
            font-size: rem(16);
            font-weight:300;
            color:#fff;
            line-height: 1.5;
        }
    }

    >p.more {
        color:#fff;
        font-size: rem(12);
    }
}
.breadcrumb {
    padding-top: 15px;
}    




body[class*="-overview"], body.layout-conference {

    div.main-content {
       

        h1 {
            font-size:rem(32);
            color:color(dark);
            margin-bottom:40px;

            @media screen and (max-width: $mobile-break) {
                font-size:rem(27);
            }

        }

        .description {
            margin-bottom: 70px;
            font-weight:300;

            > p {
                font-weight:300;
                color: color(darkblue);
                font-size: rem(14);
                line-height: 1.57;
            }
        }
    }
}



.channel.layout-research-overview {

    div.main-content {

        margin-top:35px;

        .content {
            &:before {
                content: "";
                position: absolute;
                top: 0;
                bottom: 80px;
                right: -53px;
                width: 1px;
                background: color(lightblue);
                @media screen and (max-width: 991px) {
                   display: none;

                }
            }
        }
    }


    .sidebar {
        padding-left:115px;
        @media screen and (max-width: 991px) {
                padding-left: 15px;

            }

        >h2 {
            font-size: rem(22);
            margin-bottom: 7px;
            @media screen and (max-width: $sm-break) {
                padding-left:15px;

            }

        }
        >p {
            color:color(darkblue);

            font-size: rem(14);
            font-style:italic;
            font-weight:bold;
            @media screen and (max-width: $sm-break) {
                padding-left:15px;

            }
        }

        .upcoming {
            position:relative;
            padding-bottom: 30px;
            border-bottom: 1px solid color(lightblue);
            @media screen and (max-width: $sm-break) {
                border-bottom: 1px solid #B3B3B3;
                margin-left: 15px;
                margin-bottom: 30px;
            }
            
            .sidebar-text {
                padding-left:70px;

                >h3 {
                    font-size: rem(14);
                    font-weight:bold;
                }
                >p {
                    font-size: rem(11.5);
                    line-height: 1.67;
                    color: color(dark);

                }
                button {
                    background:color(orange);
                    margin-top:23px;

                }
            }

            .sidebar-date {
                position:absolute;
                width:50px;
                height:50px;
                padding:5px;
                color:#fff;
                background:color(darkblue);

                >p {
                    margin:0;
                    text-align:center;

                    &.date-day{ 
                        font-size:rem(24);
                        font-weight:400;
                        line-height: 1;
                    }
                    &.date-month{ 
                        font-size:rem(12);
                        font-weight:300;
                    }

                }
            }
        }


    }

    .section {
    }

}


