.event-details {

    .section-list {
        margin-bottom:50px;
    }


    &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 80px;
        right: -53px;
        width: 1px;
        background: color(lightblue);
        @media screen and (max-width: 991px) {
           display: none;

        }
    }
}


.stream-cta {
    background: rgba(137,187,159,.5);
    padding: 38px 35px 30px 25px;
    margin-bottom:35px;
    h2 {
        font-size:rem(12);
        font-weight:700;
    }

    h1 {
        font-size:rem(26);
        font-weight:300;
        line-height: 1.38;
        margin-bottom:13px;
        margin-top:12px;

    }
    p.details {
        color: color(dark);
        font-size: rem(16);
        line-height: 1.5;
        margin-bottom:15px;
    }

    a {
        display:block;
        margin-top:20px;
        color:white;
        padding: 10px;
        text-align: center;
        background:color(darkblue);
    }

}


.event-main {
    margin-bottom:100px;
}

.conference-awards {
    border-top:1px solid color(lightblue);
    padding-top:30px;
    h1 {
        font-size: rem(22);
        line-height: 1.09;
        color: color(dark);
        margin-bottom:30px;
    }

    p {
        font-size: rem(12);
        line-height: 1.67;
        color: color(dark);
    }
    a {
        display:block;
        margin-top:20px;
        color:white;
        padding: 10px;
        text-align: center;
        background:color(darkblue);
    }
}




.channel.layout-conference-live, .channel.layout-conference-live-program {
    // position: relative;

    div.header-image {

        .header-text {
            padding:108px 22px 10px 35px;

            >h1 {
                font-size: rem(40);
                font-weight:700;
                margin-bottom:10px;
                line-height: 1.05;
            }

            > div {
                height:auto;
                >p {
                    font-size: rem(16);
                    line-height: 1.38;
                    color: #fff;
                }
                > p:first-child, > p:last-child {
                    color:color(lightblue);
                }

                a{
                    display:block;
                    margin-top:20px;
                    margin-bottom:70px;
                    background: color(orange);
                    padding: 10px;
                    text-align: center;
                }
            }

        }
    }


    .main-content {
        margin-top:55px;
        margin-bottom:100px;
    }

}


