.channel.layout-conference-overview {

	.main-content {
		margin-top:40px;

        @media screen and (max-width: $mobile-break) {
            margin-top: 10px;
            margin-bottom: 25px;
        }
	}


    .sidebar {
        @media screen and (max-width: $mobile-break) {
            margin-bottom: 40px;
        }

        p {
            font-size:rem(13);
            font-weight:700;
            color:color(darkgreen);
            line-height: 1.7;
        }
    }
}