html {
	height:100%
}

body.layout-screen {
	height:100%;
	background: #282c36;


	.site-footer{
		display:none;
	}
	.site-header {
		display:none;
	}
	.top-bar {
		display:none;
	}


	a.card {
		margin:0;
	}
	.screentime {
		color:white;
	}


	

  	.screen-header {
		padding:40px;
		position:absolute;
		height:135px;
		top:0;
		right:0;
		width:100%;
		// background: rgba(0,45,86, .2);
		text-align: center;

		.frank-logo {
			float:left;
		}

		.screenweather {
			width:283px;
			float:right;
			overflow:auto;
			color:white;
			p {
				padding:0;
				margin:0;
			}
			.location {
				float:left;
				text-align:right;
				margin-right:15px;

				.city {
					font-size: rem(28);
					line-height:29px;
				}
				.country {
					font-size: rem(28);
					line-height:29px;      
				}   
			} 
			.temp {
				position:relative;
				top:-7px;
				font-size:rem(57);
			}
		}



		time {
			position: relative;
			top: 15px;
			font-size: rem(27);
		}
	}
}

.top-row{
  padding-bottom:13px;

}
.bottom-row {
  padding-top:12px;
}
.screen-card {
  height:100%;
  margin:0 !important;
}

.full-height {
  height:100%;
}
.half-height {
  height:50%;
}

