.layout-community {


    .card-article-suggested {
        margin-bottom:25px;
    }

    .card-event {
        margin-bottom: 18px;
    }

    .section {
        .section-sub-header {
            h2 {
                font-size: rem(26);
                font-weight:300;
                margin-top:12px;
                margin-bottom:20px;

                > span {
                    font-weight:600;
                }

            }
        }

        .eventlist {
            .eventlist__link {
                color:black;
                font-size: rem(21);
                font-weight:600;
                padding-bottom: 4px;
                margin-top:0px;
                margin-bottom:16px;
                border-bottom: 1px solid color(lightgrey);
            }
            .eventlist__view {
                margin: 20px 0 15px 0;
                text-align:right;
                font-family: $font-family-serif;
                font-style: italic;
                font-size: rem(13);
                line-height: rem(21);
                font-weight:400;
                padding-bottom: 4px;
                margin-top:0px;
                margin-bottom:16px;
                border-bottom: 1px solid color(lightgrey);
            }
        }
    }

    .campus {
        >img {
            float: left;
            border-right: 1px solid color(lightgrey);
            padding-right: 20px;
            margin-right: 20px;
        }
        >p.campus-description {
            font-size: rem(25);
            font-weight:700;
            font-family: $font-family-serif;
            line-height:1.04;
        }
    }


    .listings {
        .listings__link {
            color:black;
            font-size: rem(18);
            font-weight:600;
            margin-bottom:14px;
            font-family: $font-family-sans-serif;
        }
        .listings__view {
            margin: 20px 0 15px 0;
            text-align:right;
            font-family: $font-family-serif;
        }
    }



}

    // .community {
    //     .card{
    //         article{
    //             @media screen and (min-width: $mmd-break){
    //                 figure{
    //                         height: 90% !important;
    //                         margin-top: 18px;
    //                     }
    //                 .content{

    //                     h2{
    //                         margin-top: 95px;
    //                     }

    //                     .author{
    //                         &:before {
    //                             content:'By ';
    //                             margin-right: 5px;
    //                         }
    //                         display: inherit;
    //                         margin-top: 5px;
    //                         order: 3;
    //                         font-weight: 300;
    //                         font-size: rem(14);
    //                         img{
    //                             display:none;
    //                         }
    //                     }
    //                     .cat-time{
    //                         margin-top: -115px;
    //                         margin-left:-20px;
    //                         .category{
    //                             display:unset !important;
    //                             border-right: 1px solid #97999c;
    //                         }
    //                         time{
    //                             display: unset;
    //                         }
    //                     }
    //                 }
    //             }
    //             @media screen and (max-width: $mmd-break-down){
    //                 figure{
    //                     height: 50% !important;
    //                     width: 35% !important;
    //                     margin-top: 18px;
    //                 }
    //                 .content{

    //                     h2{
    //                         margin-top: 5px;
    //                         color: black;
    //                         margin-left: 35%;
    //                         height: 70px !important;
    //                         font-weight: 600 !important;
    //                         font-size: rem(18) !important;
    //                     }

    //                     .excerpt {
    //                         order: 2;
    //                         color: black;
    //                         margin-left: -20px;
    //                         margin-bottom: -5px;
    //                         margin-top: 10px;
    //                         height: 45px;
    //                         display: unset !important;
    //                     }

    //                     .author{
    //                         &:before {
    //                             content:'By ';
    //                             margin-right: 5px;
    //                         }
    //                         display: inherit;
    //                         margin-top: 5px;
    //                         margin-left: -20px;
    //                         order: 3;
    //                         font-weight: 400;
    //                         font-size: rem(14);
    //                         color: #ae232c;
    //                         img{
    //                             display:none;
    //                         }
    //                     }
    //                     .cat-time{
    //                         margin-top: -95px;
    //                         margin-left: 35%;
    //                         .category{
    //                             display:unset !important;
    //                             border-right: 1px solid #97999c;
    //                         }
    //                         time{
    //                             display: unset;
    //                         }
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }

// .community-mini {
//     .card{
//         article{
//             figure{
//                     height: 50% !important;
//                     width: 35% !important;
//                     margin-top: 18px;
//                 }
//             .content{

//                 h2{
//                     margin-top: 5px;
//                     color: black;
//                     margin-left: 35%;
//                     height: 90px !important;
//                     font-weight: 600 !important;
//                     font-size: rem(18) !important;
//                     @media screen and (max-width: $mmd-break-down){
//                         height: 70px !important;
//                     }
//                 }

//                 .excerpt {
//                     order: 2;
//                     color: black;
//                     margin-left: -20px;
//                     margin-bottom: -5px;
//                     margin-top: 10px;
//                     height: 45px;
//                     display: unset !important;
//                 }

//                 .author{
//                     &:before {
//                         content:'By ';
//                         margin-right: 5px;
//                     }
//                     display: inherit;
//                     margin-top: 5px;
//                     margin-left: -20px;
//                     order: 3;
//                     font-weight: 400;
//                     font-size: rem(14);
//                     color: #ae232c;
//                     img{
//                         display:none;
//                     }
//                 }
//                 .cat-time{
//                     margin-top: -115px;
//                     margin-left:-20px;
//                     @media screen and (max-width: $mmd-break-down){
//                         margin-top: -95px;
//                         margin-left: 35%;
//                     }
//                     .category{
//                         display:unset !important;
//                         border-right: 1px solid #97999c;
//                     }
//                     time{
//                         display: unset;
//                     }
//                 }
//             }
//         }
//     }
// }

// @media screen and (max-width: $mmd-break-down){

//     .card-ubt{
//         height: 370px;
//         margin-top: 0;
//         border-bottom: 1px solid #97999c;
//         .card{
//             figure{
//                 height: 190px;
//             }
//             .content{
//                 .category{
//                     border-right: 1px solid #97999c;
//                     margin-right:   10px;
//                 }
//                 h2{
//                     margin-top: 5px;
//                     margin-bottom: 5px;
//                     color: black;
//                     height: 30px !important;
//                     font-weight: 600 !important;
//                     font-size: rem(18) !important;
//                 }
//                 .author{
//                     &:before {
//                         content:'By ';
//                         margin-right: 5px;
//                     }
//                     display: inherit;
//                     margin-top: 5px;
//                     order: 3;
//                     font-weight: 400;
//                     font-size: rem(14);
//                     color: #ae232c;
//                     img{
//                         display:none;
//                     }
//                 }
//             }
//         }
//     }
// } 