.layout-community {

    @media (min-width: 768px){
      .three-cols .col-md-1,
      .three-cols .col-sm-1,
      .three-cols .col-lg-1  {
        width: 100%;
        *width: 100%;
      }



      .sevent-cols .col-md-1,
      .sevent-cols .col-sm-1,
      .sevent-cols .col-lg-1  {
        width: 100%;
        *width: 100%;
      }

      .sevent-cols .col-md-2,
      .sevent-cols .col-sm-2,
      .sevent-cols .col-lg-2 {
        width: 100%;
        *width: 100%;
      }

      .sevent-cols .col-md-3,
      .sevent-cols .col-sm-3,
      .sevent-cols .col-lg-3 {
        width: 100%;
        *width: 100%;
      }
    }

    // @media (min-width: 768px){
    //     .sevent-cols, .three-cols {
    //         &.col-md-1, 
    //         &.col-sm-1, 
    //         &.col-lg-1,
    //         &.col-md-2, 
    //         &.col-sm-2, 
    //         &.col-lg-2,
    //         &.col-md-3, 
    //         &.col-sm-3, 
    //         &.col-lg-3,
    //           {
    //         width: 100%;
    //         *width: 100%;
    //       }
    // }
    // }




    @media (min-width: 992px) {

      .three-cols .col-md-1,
      .three-cols .col-sm-1,
      .three-cols .col-lg-1 {
        width: 33.333333333%;
        *width: 33.333333333%;
      }




      .sevent-cols .col-md-1,
      .sevent-cols .col-sm-1,
      .sevent-cols .col-lg-1 {
        width: 14.2857142857%;
        *width: 14.2857142857%;
      }

      .sevent-cols .col-md-2,
      .sevent-cols .col-sm-2,
      .sevent-cols .col-lg-2 {
        width: 28.5714285714%;
        *width: 28.5714285714%;
      }

      .sevent-cols .col-md-3,
      .sevent-cols .col-sm-3,
      .sevent-cols .col-lg-3 {
        width: 42.857142857%;
        *width: 42.857142857%;
      }
    }



    .card-article-suggested {
        margin-bottom:25px;
    }

    .card-event {
        margin-bottom: 18px;
    }

    .section {
        .section-sub-header {
            h2 {
                font-size: rem(26);
                font-weight:300;
                margin-top:12px;
                margin-bottom:20px;

                > span {
                    font-weight:600;
                }

            }
        }

        .eventlist {
            .eventlist__link {
                color:black;
                font-size: rem(21);
                font-weight:600;
                padding-bottom: 4px;
                margin-top:0px;
                margin-bottom:16px;
                border-bottom: 1px solid color(lightgrey);
            }
        }
    }

    .campus {
        >img {
            float: left;
            border-right: 1px solid color(lightgrey);
            padding-right: 20px;
            margin-right: 20px;
        }
        >p.campus-description {
            font-size: rem(25);
            font-weight:700;
            font-family: $font-family-serif;
            line-height:1.04;
        }
    }


    .listings {
        .listings__link {
            color:black;
            font-size: rem(18);
            font-weight:600;
            margin-bottom:14px;
        }
    }

}