
.marketing__section-header {
    font-family: $font-family-serif;
    font-size: rem(40);
    text-align:center;
    font-weight:700;
    @media screen and (max-width: $mmd-break) {
        font-size: rem(40);
    }
    @media #{$media-mobile} {
        font-size: rem(27);
    }
}




.layout-marketing, body.auth.login {

    .site-header {
        .top-header {
            > div {
                display:block !important;
                height: 40px;
                ul {
                    height: 40px;
                    font-size: 14px;
                    background:#337ab7;
                    li {
                        margin: 0 40px;
                        padding-top: 10px;
                        &.menu-item__username{
                             padding-top: 0;
                             @media #{$media-mobile} {
                                display: none
                             }
                        }
                        &.menu-item-search{
                             padding-top: 0;
                             @media #{$media-mobile} {
                                display: none
                             }
                        }
                        &.menu-item{
                           padding-top: 0;
                           &.menu-item__overdue{
                                padding-top: 11px;
                           }
                        }
                    }
                    @media #{$media-mobile} {
                        padding-top: 0;
                        font-size: 11px;
                        li {
                           margin: 0 15px;
                            &.menu-item__overdue{
                                margin: 0;
                            }
                            &.menu-item__signout{
                                margin-left: 0 15px;
                            }
                        }

                    }
                }
            }

        }
    }
    .site-header-main {
        display:none;
    }
    .marketing-container {
        @media screen and (min-width: $sm-break) and (max-width: $mmd-break) {
            padding: 0 80px;
        }
    }
    .site-main {
        margin-top:0;
    }

    




    .three-card {
        margin-top:55px;
        text-align:center;
        @media screen and (max-width: $sm-break-down) {
            text-align:left;
        }

        img {
            @media screen and (max-width: $mmd-break) {
                margin-bottom:10px;
            }
            @media screen and (max-width: $sm-break-down) {
                float:left;
                height: 30px;
                margin-bottom:0;
                margin-right:19px;
            }

        }
        h2 {
            margin-top:17px;
            font-size:rem(18);
            color: color(darkblue);
            font-weight:700;
            @media screen and (max-width: $mmd-break) {
                margin-top:5px;
            }
            @media screen and (max-width: $sm-break) {
                padding-top:5px;
            }

        }

        p{
            margin-top:21px;
            font-size:rem(16);
            line-height: 1.62;
            padding: 0 5px;
            >a{
                color: #ae232c;
                font-weight:600;
            }
        }
    }

    // .cost {

    //     text-align:center;
    //     overflow:auto;
    //     padding-bottom: 90px;
    //     border-bottom:1px solid color(border);
    //     h2 {
    //         font-family:$font-family-serif;
    //         font-size: rem(40);
    //         font-weight:700;
    //         color:color(darkblue);
    //         margin-bottom:41px;
    //     }
    //     p {
    //         margin-top:25px;
    //         font-size:rem(12);
    //         color:color(lightgrey);
    //     }

    // }


}

.marketing-subscriptions {

    &__description {
        margin-top:18px;
        margin-bottom:50px;
        text-align: center;
        font-size:rem(24);
        @media #{$media-mobile} {
            font-size:16px;
        }
    }
}


.ui_plans {
    @include subscription-gradientafter;
    position:relative;
    
    @media #{$media-mobile} {
        height:200px;
        overflow:hidden;
    }

}
.au_plans {
    display:none;
}
.us_plans {
    display:none;
}


.subscribe__link {
    color:black;
    &:hover {
        color:black
    }
}

.subscribe__contact {
    margin-top:60px;
    font-family:$base-font-family;
    font-size: rem(24);
    text-align: center;
}
.subscribe__payment-info {
    margin-top: 25px;
    font-family:$base-font-family;
    font-size: rem(16);
    text-align: center;
    font-style: italic;

}

.plans__vat-text {
    font-family:$font-family-sans-serif;
    font-size: rem(17);
    font-style: italic;
    color: rgba(0, 0, 0, 0.75);
    float: right;
    margin-right: 30px;
}