.layout-subscribe {

    .market-hero {
        height:566px;
        margin-bottom:70px;
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0.0), #000000), url('../images/market-hand_crop.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        @media screen and (max-width: $sm-break-down) {
            height:420px;
            background-size: cover;
        }

        .content {
            width:670px;
            padding-top:159px;
            @media screen and (max-width: $sm-break-down) {
                width:100%;
                padding-top:80px;
            }


            h1 {
                line-height: 1.16;
                font-family: $font-family-serif;
                font-size: rem(62);
                font-weight:700;
                color:white;
                margin-bottom:25px;
                // @media screen and (max-width: $sm-break-down) {
                //     font-size: rem(60);
                // }
            }
        }
    }




    .site-header-main {
        display:none;
    }

    .site-main {
        margin-top:0;
    }

    .market-header {
        height:172px;
        position:relative;

        > img {
            position:absolute;
            left:0;
            top:55px;
        }

        > div {
            text-align:center;
            width:350px;
            margin: 0 auto;
            margin-top:25px;
           p {
                border-top:1px solid black;
                padding-top:10px;
                font-size: rem(17);
                margin-top:20px;
           }
 
        }

    }

    .section-title {
        >h1 {
            font-family: $font-family-serif;
            font-size: rem(50);
            text-align:center;
            font-weight:700;
        }
    }

    .three-card {
        margin-top:55px;
        text-align:center;

        h2 {
            margin-top:17px;
            font-size:rem(18);
            color: color(darkblue);
            font-weight:700;
        }

        p{
            margin-top:21px;
            font-size:rem(16);
            line-height: 1.62;
        }
    }


}