.site-main {
    margin-top:52px;
    margin-bottom:100px;

    @media screen and (max-width: $sm-break-down){
        margin-top:0;
    }
   

    .top-cards {
        margin-bottom: 30px;   
    }

    .e-edition {
        position:relative;
        text-align:center;
        height:100px;
        margin-bottom:80px;
        >a {
            background-image: url("../images/e-edition-icon.svg");
            background-repeat:no-repeat;
            background-size:cover;
            position:absolute;
            right:15px;
            top:7px;
            display:block;
            width:42px;
            height:42px;
            // background:color(red);
        }
        >p.name {
            margin-top: 7px;
            margin-bottom:0;
            padding-bottom: 2px;
            font-size:rem(12);
            color:color(lightgrey);
            border-bottom: 1px solid color(lightgrey);
        }
        >p.description {
            width:200px;
            font-size:rem(14);
            font-style:italic;
            color:color(lightgrey);
            margin:auto;
            margin-top: 8px;
        }

    }

    .advert {
        background:grey;
        height:250px;
    }

    .advert-banner-small {

        margin-bottom:58px;

        > div.advert {
            background:#d8d8d8;
            width:728px;
            height:90px;
            margin: 0 auto;
        }
    }

    .bottom-cards {
        
        .top-stories {
            // background:rgba(200, 0, 150, .4);
            margin: 0;
            height: 317px;
            border-bottom: 1px solid color(lightblue);

            > h2 {
                color:color(darkblue);
                font-size: rem(16);
                margin-bottom:37px;
                margin-top:10px;
                font-weight:600;
            }

        }

        .advert-banner-small {

            // margin-bottom:58px;

            div.advert {
                background:#d8d8d8;
                width:728px;
                height:90px;
                margin: 0 auto;
            }
        }

    }

    .section {
        
        margin-top:40px;


        >div.section-header {
            margin-bottom:20px;

            >h2 {
                font-family:$font-family-serif;
                font-weight:300;
                font-size:rem(30);
                letter-spacing: 0.7px;
                margin-bottom:15px;
                > a {
                    color:color(red);
                }

                &:after {
                    content: '';
                    display:block;
                    height:1px;
                    width: 23px;
                    margin-top:15px;
                    background:color(lightgrey);
                }

            }
            >p {
                font-size: rem(13);
                font-family:$font-family-serif;
                font-style:italic;
                color: color(lightgrey);
            }
        }

        .finance-widget {
            height:530px;
            background:orange;
            margin-left: 30px;
            margin-right: 40px;
        }



        &.events {
            .inside {
                position:absolute;
                top:25px;
                right:55px;
                width:326px;
                z-index:10;

                @media screen and (max-width: $sm-break-down){
                    position:static;
                    top:0;
                    right:0;
                    width:auto;
                }


            }

            .eventlist {
                > h2 {
                    font-size: rem(21);
                    font-weight:600;
                    padding-bottom: 4px;
                    margin-bottom:12px;
                    border-bottom: 1px solid color(lightgrey);
                }
            }
        }

    }

}

