.site-main {
    margin-top:52px;
    margin-bottom:100px;

    @media screen and (max-width: $sm-break-down){
        margin-top:0;
    }
   

    .e-edition {
        background:orange;
        height:100px;
        margin-bottom:80px;
    }

    .advert {
        background:grey;
        height:250px;
        // margin-bottom:80px;
    }


}

