body.layout-jobs, body.layout-property, body.layout-events {

    .site-main {

        .subsection-header {
            margin-bottom:43px;
        }



        a.listing-link {

            margin-left:14px;
            font-size:rem(14);
            float: right;
            color:color(red);
            font-style:italic;
            
            &:hover {
                text-decoration:none;
            }
            &:after {
                content: '';
                display: inline-block;
                margin-left:20px;
                position: relative;
                top: 7px;
                height:24px;
                width:24px;
                background: url('../images/arrow-in-circle-icon.svg');
                color:color(red);
            }
        }



        .menu {
            margin-bottom: 30px;
            text-align: right;


            .Acme-pulldown {
                display:block;
                text-align: left;
                width:100%
            }
        }

    }

}