body[class*="_overview"] {
    div.header-image {
        height:455px;
        background:pink;
        // background-image: url('../images/research-background.jpg');
    }

    div.main-content {

        ul.section-list {
            padding:0;
            margin-bottom:100px;
            > li {
                position:relative;
                padding:16px 0;
                display:block;
                // height: 78px;
                border-bottom:1px solid color(lightblue);
                @media screen and (max-width: $sm-break) {
                    padding: 10px 0 10px 0;
                }    

                &:first-child {
                    border-top:1px solid color(lightblue);
                }

                > a {
                    display:block;
                    color: color(darkblue);
                    line-height: 1.2;

                    &:hover {
                        text-decoration:none;
                    }

                    >p {
                        color:color(grey);
                        font-weight:bold;
                        margin:0;
                        margin-bottom: 7px;
                        font-size: rem(12);
                    }
                    >h2 {
                        margin:0;
                        font-size: rem(20);
                        padding-right: 25px;
                        @media screen and (max-width: $sm-break) {
                            line-height: 1.2;
                        }
                    }
                    >span {
                        position:absolute;
                        right:0;
                        top: 50%;
                        margin-top: -14px;
                    }
                }
            }
        }
    }
}



.channel.default-layout {
    // position: relative;


    div.main-content {

        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 80px;
            right: -53px;
            width: 1px;
            background: color(lightblue);
            @media screen and (max-width: 991px) {
                   display: none;

                }
        }


        h1 {
            margin-bottom:40px;
        }

        .description {
            margin-bottom: 70px;

            > p {
                color: color(darkblue);
                font-size: rem(14);
                line-height: 1.57;
            }
        }
    }


    .sidebar {
        padding-left:115px;
         @media screen and (max-width: 991px) {
                padding-left: 15px;

            }

        >h2 {
            font-size: rem(22);

        }
        >p {
            color:color(darkblue);

            font-size: rem(14);
            font-style:italic;
            font-weight:bold;
        }

        .upcoming {
            position:relative;

            .sidebar-text {
                padding-left:70px;

                >h3 {
                    font-size: rem(14);
                    font-weight:bold;
                }
                >p {
                    font-size: rem(12);
                    line-height: 1.67;
                    color: color(dark);

                }
            }

            .sidebar-date {
                position:absolute;
                width:60px;
                height:60px;
                padding:10px;
                color:#fff;
                background:color(darkblue);

                >p {
                    margin:0;
                    text-align:center;
                }
            }
        }


    }

    .section {
    }

}


