.site-footer{
    width: 100%;
    margin-top: 0;
    background: color(lightergrey);
    border-bottom: 8px solid color(darkblue);
    padding-top:90px;
    padding-bottom:30px;


    @media screen and (max-width: $sm-break-down){
        height:auto;
        padding-top:27px;
        padding-left:20px;

    }


    .top {
        h2 {
            font-size: rem(11);
            color:color(black);
            border-top: 1px solid color(black);
            width:202px;
            padding-top:3px;
        }

        .right {
            text-align:right;

            @media screen and (max-width: $sm-break-down){
                text-align:left;
            }


            p {
                font-size: rem(11);
            }
            img {
                margin-bottom: 35px;

                @media screen and (max-width: $sm-break-down){
                    width:76px;
                    height:27px;
                    margin-bottom:15px;

                }


            }

            p.copyright {
                margin-top: 30px;
                color:color(lightgrey);
            }

        }
    }


    .navbar-brand {
        display:inline-block;
        padding:0;
        width: 140px;
        height:39px;
        margin-top: 90px;
        margin-bottom: 7px;
        background-image: url(../images/frank-logo.svg);
        background-repeat:no-repeat;
        background-size:cover;

        @media screen and (max-width: $sm-break-down) {
            width: 110px;
            height:31px;
            margin-top: 0;

        }
    }

    
    // .copyright {
    //     font-size:rem(13);
    //     color:color(lightblue);
    //     margin:0;

    //     @media screen and (max-width: $sm-break-down) { 
    //         // margin-top: 60px;
    //     }
    // }



    // .footer-brand {
    //     position:relative;
    //     top:-12px;
    //     display:inline-block;
    //     color:white;
    //     font-size: rem(26);
    //     margin-top:40px;
    //     margin-left:30px;
    // }

    // ul.footer-ext-links {
    //     text-align: right;

    //     @media screen and (max-width: $sm-break-down) { 
    //         padding:0;
    //         margin-top:20px;
    //         text-align:left;
    //     }
        

    //     li {
    //         a {
    //             font-size:rem(13);
    //             color:color(lightblue);
    //         }
    //     }
    // }


    ul.footer-section-links {
        text-align: right;
        margin-top:90px;
        margin-bottom: 50px;

        @media screen and (max-width: $sm-break-down) {
            text-align: left;
            padding:0;
        }


        > li {
            list-style:none;
            display:block;
            margin-bottom:11px;

            >a {
                color: color(black);
                font-size: rem(12);
                font-weight:600;
                text-transform: uppercase;
            }
        }
    }



    ul.footer-links {
        text-align: right;
        margin-bottom: 3px;

        @media screen and (max-width: $sm-break-down) {
            text-align: left;
            padding:0;
        }


        > li {
            display:inline-block;
            margin-right: 7px;
            padding-right: 7px;
            border-right: 1px solid black;
            line-height: .9;



            >a {
                color: color(black);
                font-size: rem(11);
                font-weight:600;
            }

            &:nth-last-child(1) {
                border:none;
                padding-right:0;
                margin-right:0;
            }

        }
    }
}