.showOnScroll {
    top:0 !important;
}

.fixHeader {
    position:fixed !important;
    width:100%;
}

.search-icon{
    display:block;
    background-image: url(../icons/search-icon.svg);
    background-repeat: no-repeat;
    background-size:contain;
    width: 15px;
    height: 15px;
}

.site-header.mobile-menu-active {
    .site-header-main {

        .header-top {
            background:color(darkblue);
            h1 {
                color:color(white);
            }

            nav.sb-custom-menu {
                > a {
                    margin-top:0;
                    background-image: url(../images/mobile-close.svg);
                    background-size:cover;
                    width:20px;
                    height:20px;
                }
            }
        }
        .navbar-brand {
            background-image: url(../images/frank-logo-reverse.svg);
        }
    }
}




.site-header {
    position:relative;
    padding:0;
    max-width:none;
    z-index:140;

    .index_container {
        @media screen and (max-width: $sm-break-down) {
            padding: 0;
        }
    }

    .top-header {

        background: color(darkblue);

        > div {
            position:relative;
            height: 30px;


            > ul {
                position: absolute;
                height:30px;
                vertical-align:middle;
                top: 0;
                right: 20px;
                font-family:$base-font-family;
                font-size: rem(10);
                margin:0;
                padding:0;
               

            > li {
                color:#fff;
                display:inline-block;
                margin:0;
                padding:0;
                margin-left:40px;
                vertical-align: middle;
                padding-top:6px;

                > a {
                    color: #fff;
                    }

                &:hover {
                    cursor: pointer;
                    > a {
                        color: #337ab7;
                    }
                }

                &.glass {
                    margin-left:20px;
                }
                &.menu-item__overdue {
                    background-color: #AE232C;
                    height: 100%;
                    padding-left: 15px;
                    padding-right: 15px;
                    padding-top: 10px;
                    &:hover {
                        cursor: pointer;
                        > a {
                            color: #000;
                        }
                    }
                   
                }
            }
        }  

        @media screen and (max-width: $sm-break-down){
            display:none;
        }

    }
}






    .site-header-main {
        @include transition(100000s);

        background:#fff;
        width:100%;
        @media screen and (max-width: $mmd-break){
            height:auto;
        }
        
        input.field {
            font-size: rem(16);
        }

        .header-top {
            margin-top: 35px;
            height:60px;
            @media screen and (max-width: $sm-break-down) {
                margin-top: 0;
                padding-top: 12px;
                padding-bottom:12px;
                height:auto;
            }
        }

        .header-bottom {
            padding:0;
            margin-top:6px;
            height:47px;
            padding-left:20px;
            padding-right:20px;

            div.trusted {
                @media screen and (max-width: $mmd-break-down) {
                    margin-bottom:20px;
                }
            }

            > div {
                border-top:2px solid color(black) ;
            }

            h2 {
                font-size:rem(14);
                font-weight:600;
                margin-top:10px;

                @media screen and (max-width: $sm-break-down) {
                    font-size:rem(10);
                    margin-top:7px;
                }
            }

            fieldset {
                border-left:1px color(lightblue) solid;
                border-right:1px color(lightblue) solid;
                height:45px;
            }
        }



        .navbar-brand {
            display:inline-block;
            padding:0;
            width: 183px;
            height:51px;
            // font-size: rem(50);
            background-image: url(../images/frank-logo.svg);
            background-repeat:no-repeat;
            background-size:cover;

            @media screen and (max-width: $mobile-break) {
                margin-top: 0;
                width: 122px;
                height:34px;
            }
        }

        .navbar-right {
            margin-top:25px;
            // @media screen and (max-width: $mobile-break){
            //     margin-top:12px;
            // }



            .section-links ul {
                li {
                    display:inline-block;
                    margin-right:37px;
                    
                    a {
                        font-family: $base-font-family;
                        font-size: rem(14);
                        color:color(white);
                        letter-spacing: 2.2px;
                    }
                }
                li.menu-item-search {
                    width:40px;
                    a {
                        display:block;
                    }
                }
            }
        }
    }

    .site-header-buffer {
        height:15px;
        background:color(black);

        @media screen and (max-width: $mobile-break){
            display:none;
        }
    }
}


/* Search box */
.search-sub-menu{
    form{
        position: relative;
        background: color(lightergrey);
    }

    input.field {
        width: 50%;
        background-color: transparent;
        color: #1a1818;
        font-size: rem(30);
        border: 0;
        height: 30px;
        outline: none;
        text-align:center;
        display:block;
        margin: 11px auto;

        @media screen and (max-width: $md-break){
            width:78%;
        }
    }

    button {
        position: absolute;
        right: 20px;
        top:15px;
        background-image: url(../icons/search-blk.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-color: transparent;
        width: 15px;
        height: 25px;
        border: 0;
        font-size: 30px;
        padding: 0 10px;
    }

    .search-container{
        width: 100%;
        margin: 0 auto;
        float: none;
        padding-top: 15px;
        padding-bottom: 0px;
        padding-left: 20px;
        padding-right: 20px;
        list-style: none;
    }

    .btn-default{
        background-color: transparent;
        border: 0;
    }
}
