/*! Layout User Profile Page
-------------------------*/

.inline-inputs {
    display: flex;
    flex-direction: row;
    label {
        flex: 2;
    }
    input, span {
        flex: 7;
    }
}

.change-password {
    font-style: italic;
    font-size: rem(12);
    color: color(lightgrey);
    position: relative;
    top: -25px;
    &:hover {
        color: color(red);
        cursor: pointer;
    }
}

.name {
    span {
        font-size: rem(25);
        font-weight: normal;
        line-height: 1.2;
        color: color(red);
    }
}

.profile-section {

    .section-heading {
        width: 100%;
        border-bottom: 1px solid color(lightgrey);
        padding-bottom: 10px;
        margin-bottom: 15px;

        p {
            display: inline;
            font-size: rem(15);
            font-weight: bold;
            line-height: 1.33;
            color: black;
            padding-bottom: 11px;
        }

        a {
            float: right;
            color: color(red);
            font-style: italic;
        }

    }
    
    width: 100%;
    padding: 18px 0px;

    &.with-border {
        border-bottom: 1px solid color(lightgrey);
    }
}


.profile-section + .profile-section {
    padding-top: 70px;
}

.user_profile {

    font-family: $font-family-sans-serif;
    background-color: #f3f3f3;

    label {
        font-size: rem(13);
        height: 44px;
        line-height: 44px;
        color: color(darkblue);
        font-weight: bold;
    }

    button, a.submit {
        background-color: rgba(0,0,0,0.0) !important;
        color: color(red) !important;
        border: none;
        float: right;
        margin-top: 25px !important;
    }

    a.submit {
        font-style: italic;
        margin-top: -20px !important; 
    }

	.user_profile_section {
        margin: 36px auto;
        width: 722px;

		background-color:#fff;
        @include padding(40px);

        @media #{$media-iPhoneLarge}, #{$media-iPhoneMedium}, #{$media-phone} {
          @include padding(40px);
        }
	}

    .empty-listing {
        display: block;
        padding: 20px 0;
        border-bottom: 1px solid color(lightgrey);
        margin-bottom: 30px;
        text-align: center;
        color: color(lightgrey);
        font-size: rem(13);
    }

}
