/*! Layout User Profile Page
-------------------------*/

.sub-heading {
    margin-bottom:20px;
    font-size:($baseFontSize * 2) + 2;
    @media #{$media-iPhoneLarge}, #{$media-iPhoneMedium}, #{$media-phone} {
      font-size:($baseFontSize * 2) - 4;
    }
}
.green {
    color:$success-color;
}

.inline-inputs {
    display: flex;
    flex-direction: row;
    label {
        flex: 1;
    }
    input {
        flex: 4;
    }
}

.name-inputs {
    display: flex;
    flex-direction: row;
    span {
        font-size: rem(25);
        font-weight: normal;
        line-height: 1.2;
        color: color(red);
        &:after {
            content: '\00a0';
        }
    }

    [contenteditable="true"]:focus {
        outline: none;
    }
}

.user_profile {

    font-family: $font-family-sans-serif;


    label {
        font-size: rem(13);
        height: 44px;
        line-height: 44px;
        color: color(darkblue);
        font-weight: bold;
    }

    .profile-header {
        > p {
            font-size: rem(15);
            font-weight: bold;
            line-height: 1.33;
            color: black;
            width: 100%;
            border-bottom: 1px solid black;
            padding-bottom: 11px;
        }


        padding-bottom: 18px;
    }

    background-color: #f3f3f3;

	.user_profile_section {
        margin: 36px auto;
        width: 722px;

		background-color:#fff;
        @include padding(40px);

        @media #{$media-iPhoneLarge}, #{$media-iPhoneMedium}, #{$media-phone} {
          @include padding(40px);
        }
	}

 
    .help-block {
        color:#898989;
        font-size:12px;
        letter-spacing:0;
        font-style:italic;
        font-size:($baseFontSize * 1) - 2;
    }

    .controls-full {
        margin-bottom:30px;
    }

    .btn.lg {
        @include padding(10px 30px 12px);
        font-size:($baseFontSize * 2) - 4;
    }
}
