<!--footer-->
<footer class="site-footer">
    <div class="container">        
        
        <div class="row top">
            <div class="col-sm-12 col-md-8">

                <a  class="navbar-brand" 
                    href="{{networkData.defaultBlogUrl}}" 
                    rel="Home" tabindex="-1" 
                    title="Home">
                </a>
                
                <h1 class="footer-brand">Practice Live</h1>



            </div>
            <div class="col-sm-12 col-md-4">
                <ul class="footer-ext-links">
                     <li><a href="https://www.facs.nsw.gov.au/">FACS website</a></li
                    ><li><a href="http://caseworkpractice.intranet.facs.nsw.gov.au/">Casework practice</a></li
                    ><li><a href="https://jobsnsw.taleo.net/careersection/depths/jobsearch.ftl?lang=en&portal=142160143997">FACS jobs</a></li
                    ><li><a href="https://jobsnsw.taleo.net/careersection/nswgov_eoi/jobsearch.ftl">NSW Govt jobs &amp; EOIs</a></li
                    ><li><a href="https://www.hsnet.nsw.gov.au/">HSNet</a></li>
                </ul>

            </div>

        </div><!--row-->




        <div class="row">
            <div class="col-sm-3">
                <p class="copyright">Copyright © 2017</p>
            </div>

            <div class="col-sm-9">
                <ul class="footer-links">
                    <li><a href="mailto:OSPBroadcast@facs.nsw.gov.au">Contacts</a></li
                    {# ><li><a href="#">Accessability</a></li #}
                    {# ><li><a href="#">Site Index</a></li #}
                    ><li><a href="https://www.facs.nsw.gov.au/site_information/privacy">Privacy</a></li
                    ><li><a href="https://www.facs.nsw.gov.au/site_information/copyright-and-disclaimer">Copyright</a></li
                    ><li><a href="mailto:OSPbroadcast@facs.nsw.gov.au">Feedback</a></li>
                </ul>
            </div>
        </div>


    </div><!-- .container-->

    
</footer>
